* {
	padding : 0;
	margin : 0;
}
html,body { 
	font-size: 12pt; 
	font-family: "Times New Roman", Times, serif;
	margin: auto;
}
#tornaSu{
    display:none;
}

/*--Header------------------------------------------------------*/
.goToContent, #accountButton, #accountDropdown, #menuButton{
    display:none;
}
header h1{
    margin:10pt 0;
}
#menu li{
    display:inline;
    padding: 0 4pt;
}
#breadcrumb{
    color:rgb(71, 71, 71);
    margin-bottom:14pt;
}
/*--Content------------------------------------------------------*/
.content h1{
    font-size: 16pt;
}
.content h2{
    margin: 16pt 0 8pt;
    font-size: 14pt;
}
.content h3{
    font-size: 12pt;
}
/*--Home------------------------------------------------------*/
ol#filmPopolari{
    list-style-type: decimal;
}
#acquistoBiglietti *{
    display: inline;
    padding: 0 3pt;
    font-size: 10pt;
}
#listaRecensioni h3{
    font-size: 12pt;
}
/*--404------------------------------------------------------*/
#content_404 h1, #content_404 h2{
    font-size:15pt;
}
/*--About us------------------------------------------------------*/
#content_aboutUs h3{
    display:inline;
}

#contatti{
    margin-top:4pt;
}
#contatti *{
    display:inline;
}
#contatti h2{
    display:none;
}
#aiutaci #aiutaci{
    display:block;
}

/*--Footer------------------------------------------------------*/
footer{
    margin-top: 18pt;
}
footer #listaSponsor img{
    display:none
}
footer p{
    color:black;
}
footer #pannelloadmin{
    display:none;
}
#listaSponsor *{
    display: inline;  
    padding: 0 3pt;
    font-size: 16pt;
}
#studenti{
    margin-top:4pt;
}
#studenti li, footer p{
    display:inline;
    color:rgb(71, 71, 71);
    text-align:center;
}