* {
	padding : 0;
	margin : 0;
}
html,body { 
	font-size: 12pt; 
	font-family: "Times New Roman", Times, serif;
	margin: auto;
}
#tornaSu *{
    display:none;
}

/*--Header------------------------------------------------------*/
.goToContent, #accountButton, #accountDropdown, #menuButton{
    display:none;
}
header h1{
    margin:10pt 0;
}
#menu li{
    display:none;
}
#breadcrumb{
    color:rgb(71, 71, 71);
    margin-bottom:14pt;
}
/*--Content------------------------------------------------------*/
.content h1, .content_admin h1{
    font-size: 16pt;
}
.content h2, .content_admin h2{
    margin: 16pt 0 8pt;
    font-size: 14pt;
}
.content h3, .content_admin h3{
    font-size: 12pt;
}
.content,.content_admin{
    margin-bottom:18pt;
}
a:link:after, a:visited:after{
    content: " [" attr(href) "] ";
    font-size:90%;
}
/*--Home------------------------------------------------------*/
ol#filmPopolari{
    list-style-type: decimal;
}
#acquistoBiglietti *{
    display: inline;
    padding: 0 3pt;
    font-size: 10pt;
}
#listaRecensioni h3{
    font-size: 12pt;
}
/*--404------------------------------------------------------*/
#content_404 h1, #content_404 h2{
    font-size:15pt;
}
/*--About us------------------------------------------------------*/
#content_aboutUs h3{
    display:inline;
}

#contatti{
    margin-top:4pt;
}
#contatti *{
    display:inline;
}
#contatti h2{
    display:none;
}
#aiutaci #aiutaci{
    display:block;
}
/*--Lista Film------------------------------------------------------*/
#content_listaFilm input[type="checkbox"],
#content_listaFilm button,
#content_listaFilm li a.info,
#content_listaFilm li a.biglietti{
    display:none;
}
#content_listaFilm li#titolofilm{
    break-inside: avoid;
}
/*--Pagina Film------------------------------------------------------*/
#content_templateFilm h2{
    font-style: italic;
}
#content_templateFilm img{
    width: 30%;
    displaY:block;
    float:right;
}
#content_templateFilm dl{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#content_templateFilm dt{
    float: left;
    width: 35%;
    padding: 0;
    margin: 0;
}
#content_templateFilm dd{
    float: left;
    width: 65%;
    padding: 0;
    margin: 0;
}
#content_templateFilm p[title="descrizione"]{
    margin:6pt 4pt;
    font-style: italic;
}
/*--Proiezioni------------------------------------------------------*/
#content_proiezioni li h2{
    margin-bottom: 2pt;
}
#content_proiezioni button[type="submit"]{
    display:none;
}
/*boxeslist*/
.boxesList li{
    display: inline-block;
    width: 45%;
    break-inside: avoid;
}
.boxesList{
    display: table;
    list-style-type: none;
}
.boxesList em{
    display: block;
}
.boxesList em.filmNonInGara{
    display: none;
}
/*--Come trovarci------------------------------------------------------*/
#content_comeTrovarci iframe{
    display:none;
}
/*--Contest------------------------------------------------------*/
#content_contest{
    margin:0;
}
#content_contest li{
    padding:2pt 4pt;
}
#content_contest ul{
    margin:0 16pt;
    list-style-type: disc;
}
#content_contest #contestForm textarea{
    height: 15pt;
    width:30%;
}
#content_contest #contestForm *{
    display:block;
    padding-top:4pt;
    margin:2pt 0;
}
#content_contest #contestForm input.button{
    display:none;
}
#content_contest #contestForm input{
    max-height: 14pt;
    margin-top:2pt;
}
#content_contest #contestForm label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:4pt;
}
#content_contest #contestForm{
    margin-top: 6pt;
    margin-bottom:0;
}
#content_contest h2{
    margin-top:10pt;
}
/*--Pagina utente------------------------------------------------------*/
#content_paginaUtente #infoUtenteForm input.button{
    display:none;
}
#content_paginaUtente #infoUtenteForm fieldset{
    margin:8pt;
    width:30%;
    padding:3pt;
}
#content_paginaUtente #infoUtenteForm label{
    display:block;
    border:0;
}
#content_paginaUtente #biglietti li{
    margin:16pt;
}
/*--Admin------------------------------------------------------*/
#adminMenu li{
    display:none;
}
#adminInfo dd{
    margin-left:6pt;
}
/*Admin Candidature*/
#content_adminCandidature input[type="checkbox"],
#content_adminCandidature input[type="submit"],
#content_adminCandidature #attenzioneRifiuto{
    display:none;
}
#content_adminCandidature label{
    font-size: 14pt;
    font-weight: bold;
}
#content_adminCandidature .candidatura{
    margin:12pt 0;
}
#content_adminCandidature form{
    break-inside: avoid;
}
#content_adminCandidature h1{
    margin:6pt 0;
}
/*Admin proiezioni, lista film, utenti*/
#content_adminProiezioni input.collapse,
#content_adminListaFilm input.collapse,
#content_adminUtenti label[for="utentiSelect"]{
    display: none;
}
#content_adminListaFilm label, #content_adminListaFilm input{
    display:block;
}
/*--Footer------------------------------------------------------*/
footer #listaSponsor img{
    display:none
}
footer p{
    color:black;
}
footer #pannelloadmin{
    display:none;
}
#listaSponsor *{
    display: inline;  
    padding: 0 3pt;
    font-size: 16pt;
}
#studenti{
    margin-top:4pt;
}
#studenti li, footer p{
    display:inline;
    color:rgb(71, 71, 71);
    text-align:center;
}