form input, form textarea{
    width: 90%;
}

.content h1, .content h2{
    text-align: center;  
}
/* HEADER ---------------------------------*/
header h1{
    font-size: 1.8em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

header #accountButton {
    top: 5%;
    right: 2.5%;
}

/* ----------------------- MENU' ------------------------ */

header #menu{
    border-top: 1px solid var(--main-color-dark);
}

header #menu #menuButton{
    display: block;
    background-color: var(--main-color-dark);
    border-radius: 0;
    border: none;
    margin: auto;
    height: 1.5em;
    width: 100%;
    padding: 0;
}

header #menu ul {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
}

header #menu li{
    width: 6.6em;
    margin: 0;
    padding: 5px 0 5px 0;
}

header #menu li a{
    border: none;
    padding: 0;
}

header #menu li.secondaryMenuItem{
    display: none;
}

/* CONTENT */
div.content{
    padding: 20px;
}

/* content headers */
#content_home h2{
    padding: 40px 40px 20px 40px;
}

.content h1{
font-size: 1.8em;
}

/* Lista recensioni*/

#listaRecensioni li{
    width: 20em;
    max-width: 70%;
}

#listaRecensioni p{
    width: 100%;
    height: fit-content;
}

/*----------------------- img social ------------------- */ 
#contatti h3:last-of-type{
    text-align: center;
}

#contatti ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
#contatti li{
    display: block;
    height: 70px;
    width: 70px;
	background-position: center; 
	background-size: 70px;
	background-repeat: no-repeat;
    margin: 0;
}

#contatti li p{
    text-indent: -9999em;
    margin: 0;
}

#contatti li a{
    display:block;
    height: 70px;
    width: 70px;
    text-indent: -9999em;
    padding: 0;
    position: relative;
    right: 21px;
    bottom: 23px;
}

/* -------------------------------------- form ------------------------------------- */
#content_paginaUtente div:first-of-type, #content_contest div:first-of-type, #contestForm form{
    width: 100%;
    padding: 0;
}

/**/
footer #listaSponsor{
    flex-wrap: nowrap;
}

footer #listaSponsor li{
    padding: 0.5em;
}

footer #listaSponsor li img{
    width: 100%;
    height: auto;
}

footer #listaSponsor li #imgSponsor1{
    min-width: 60px;
}

footer #listaSponsor li #imgSponsor2, footer #listaSponsor li #imgSponsor3{
    min-width: 120px;
}

/* Lista Film / Proiezioni -------------------*/
#content_listaFilm{
    padding: 1em;
}

.boxesList{
    padding: 0;
}

.boxesList li{
    margin: 0;
    margin-top:2em;
    padding: 1em;
    height: fit-content;
}

.boxesList a.acquista{
    position: static;
    float: right;
}