form input, form textarea{
    width: 90%;
}

#contatti ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
#contatti li{
    display: block;
    height: 100px;
    width: 70px;
	background-position: center bottom;
	background-size: 70px;
	background-repeat: no-repeat;
    margin: 0;
}

#contatti li p{
    text-indent: -9999em;
    margin: 0; 
}

#contatti li a{
    display:block;
    height: 70px;
    width: 70px;
    text-indent: -9999em;
    padding-top: 5px;
    margin: 0;
}

#content_paginaUtente div:first-of-type, #content_contest div:first-of-type{
    width: 100%;
}