/* HEADER */

header {
    position: sticky;
    top: 0em;
    z-index: 1;

    background-color: grey;
    opacity: 0.97;
    
    text-align: center;
}

header h1 {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

header #menu ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    padding-left: 0em;
    margin: auto;

    list-style-type: none;
}

header #menu li {
    width: 13%;
}

header #menu li a {
    display: block;
    padding-top: 0.8em;
    padding-bottom: 0.4em;

    text-decoration: none;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    transition: 0.5s ease-out;
}

header #menu li:first-of-type a {
    border-left: 2px solid black;
}

header #menu li:last-of-type a {
    border-right: 2px solid black;
}

header #menu li a:hover {
    background-color: rgb(74, 74, 74);
}

header #breadcrumb {
    text-align: left;
    background-color: indianred;
}

header #breadcrumb p {
    padding: 0.1em 0em;
    margin: 0em 0em;
} 


header form {
    display: none;
}

header #loginBtn {
    position: absolute;
    display: none;
}

header #singupBtn {
    position: absolute;
    display: none;
}


/* ---HEADER */