html {
    scroll-behavior: smooth;
}

body {
    --main-color: #0f709a;
    --main-color-light: #34A0A4;
    --main-color-light-halfopacity: #168aad77;
    --main-color-lighter: #74d9dd;
    --main-color-lightest: #b2f8fa;
    --main-color-dark: #1E6091;
    --main-color-darker:#143c5a;
    --main-color-background: #e7fbff;
    --main-color-background-light: #ffffff;

    --login-color: #f8f8f8;
    --login-color-hover: #c3d8e2;
    --login-color-09opacity: #f8f8f8e7;
    --login-color-hover-09opacity: #aaaaaae7;

    --footer-color: #15516b;

    --custom-red-color: #a11a1a;
    --custom-green-color: #126815;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--main-color-background);
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}

.errorSuggestion{
    color: var(--custom-red-color);
    font-weight: 600;
    margin:0.5em;
    display:block;
    font-size:0.8em;
    font-style: italic;
}
.placeholderText{
    color:#666666;
    font-style: italic;
}
.normalInput{
    border-color: var(--main-color-dark);
    font-style: normal;
}
/*--------------------------- Form e Input ------------------------------*/
/* General Input Styles */

button, input, textarea, select {
    font-size: 0.8em;
    border-radius: 4px;
}
select {
    /* Select più carino */
    padding: 0.2em 0.4em;
    border-radius: 2px;
    background-color: #f1f1f1;
}

/* Form Style */
form fieldset{
    /* Non lo so, mi sembra carino ma non sono sicuro */
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
    max-width: 30em;
}
form input, form textarea {
    /* Per separare dal testo sovrastante */
    margin-top: 0.2em; 
}
form input{
    display: block;
    width: 80%;
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: 1em;
    border-width: 0 0 2px;
    border-radius: 0;
    border-color: var(--main-color-light);
}

form .button {
    display: inline; 
}

form textarea{
    display: block;
    width: 80%;
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: 1em;
    resize: vertical;
    overflow: auto;
    border-color: var(--main-color-dark);
}

form textarea:focus{
    display: block;
    width: 80%;
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: 1em;
    resize: vertical;
    overflow: auto;
    border-color: var(--main-color-light);
}

form button, .button{
    width: fit-content;
    min-width: 50px;
    background-color: var(--main-color);
    border: none;
    padding: 0.3em 1em 0.3em 1em;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

form button:hover, .button:hover{
    background-color: var(--main-color-dark);
}

form button:disabled, .button:disabled{
    background-color: darkgray;
}

/* Server side feedback --------------------------------------*/

.feedbackPositive{
    color: var(--custom-green-color);
    font-weight: 600;
}

.feedbackNegative{
    color: var(--custom-red-color);
    font-weight: 600;
}

/*--------------------------- Material Icons ------------------------------*/
span.material-icons-outlined.md18 {
    font-size: 18px;
}
span.material-icons-outlined.md24 {
    font-size: 24px;
    color: rgb(247, 53, 53);
}
span.material-icons-outlined.md36 {
    font-size: 36px;
}
span.material-icons-outlined.md48 {
    font-size: 48px;
}

/* HEADER --------------------------------------------- */

header {
    position: sticky;
    top: -6.5em;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    background-color: var(--main-color);
    text-align: center;
}

/*header h1 {
    margin: auto;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
}*/
header h1 {
    margin: auto;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -999999em;
}
.goToContent {
    background: var(--main-color-dark);
    color: #fff;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.goToContent:focus {
    transform: translateY(0%);
}

/* Nav Menu */
header #menu #menuButton{
    display: none;
}

header #menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0em;
    margin: auto;
    list-style-type: none;
}

header #menu li {
    display: block;
    width: 16.666%;
}

header #menu li a {
    display: block;
    padding-top: 0.8em;
    padding-bottom: 0.4em;
    border-top: 1px solid var(--main-color-dark);
    text-decoration: none;
    color: #aaffed;
    transition: background-color 0.5s ease-out;
}
header #menu li a:visited,header #menu li a.currentPage { 
    color: white;
}
header #menu li a.currentPage {
    background-color: var(--main-color-dark);
}
header #menu li a:hover {
    background-color: var(--main-color-dark);
}

/* Breadcrumb */

header #breadcrumb {
    text-align: left;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
}

header #breadcrumb p {
    background-color: var(--main-color-light-halfopacity);
    padding: 0.1em 0.2em;
    margin: 0;
} 

/* Login-signup */

header #accountButton {
    position: absolute;
    top: 10%;
    right: 4%;
}

header #accountButton span[class="material-icons-outlined"] {
    vertical-align: middle;
}

header #accountButton span#accountName {
    display: inline-block;
    margin-left: 0.4em;
}

header #accountButton, header #accountDropdown button {
    color: #313131;
    cursor: pointer;
    padding: 0.4em 1em;
    transition: background-color 0.2s ease-out;
}

header #accountButton {
    background-color: var(--login-color);
    border: 1px solid rgba(82, 82, 82, 0.7);
    border-radius: 5px;
}

header #accountButton:hover {
    background-color: var(--login-color-hover);
}

header #accountDropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;

    top: 40%;
    right: 0.5%;

    background-color: white;
    text-align: left;

    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.149);
    border: 1px solid #ced4da;

    transition: 0.2s ease-in-out;
}

header #accountDropdown.dropdown {
    visibility: visible;
    opacity: 1;
}

header #accountDropdown {
    z-index: 2;
}

header #accountDropdown .slidableOut {
    display: block;
    padding: 1em;
}

header #accountDropdown .slideOut {
    display: none;
}

header #accountDropdown .slidableIn {
    display: none;

    transition: 0.5s ease-in-out;
}

header #accountDropdown .slideIn {
    display: block;
}

header #accountDropdown div.loginNavigation {
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
}

header #accountDropdown #accountSection .loginNavigation{
    display: none;
}

header #accountDropdown button {
    display: block;
    min-width: 10em;
    margin: 0.8em;
    border: 1px solid rgba(82, 82, 82, 0.7);

    background-color: var(--login-color);
}

header #accountDropdown div > a {
    margin: 0.5em;
    display: block;
    text-align: center;
}

header #accountDropdown div.loginNavigation button {
    min-width: initial;
    margin: initial;
    background-color: #f1f1f1;
    border: none;
}

header #accountDropdown button:hover {
    background-color: var(--login-color-hover);
}

header #accountDropdown .feedbackPositive:last-child{
    display: block;
    padding: 1em;
}

header form#logout {
    display: none;   
}

header form {
    padding: 1em;
}

header form input {
    margin-top: 0.2em;
    border: 1px solid #ced4da;
}

header form button {
    border-radius: 4px;
    border-style: solid;
}

header button:active {
    background-color: rgba(150, 150, 150, 0.822);
}

/* CONTENT */

div#first {
    position: relative;
    top: -3.9em;
}

div.content{
    background-color: var(--main-color-background-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding:40px;
}
.content a{
    color:var(--main-color);
    text-decoration: underline;
}
.content a:visited{
    color:purple;
    text-decoration: underline;
}
.content a:hover{
    color:var(--main-color-darker);
    text-decoration: underline;
}
.content h1{
    color:var(--main-color-darker);
    text-align: left;
    text-shadow: 1px 1px 7px var(--main-color-lighter);
    font-size: 2.8em;
}
.content h2{
    color:var(--main-color-dark);
}

#homeDescription{
    text-align: center;
    text-shadow: 1px 1px 7px var(--main-color-lighter);
    font-size: 2.3em;
}
.content h3{
    color:black;
    text-align: left;
    text-shadow: 1px 1px 7px #afafaf;
    font-size: 1.4em;
    margin-bottom:0;
}
#contatti{
    scroll-margin-top: 5em;
}
#contatti ul{
    list-style-type: none;
    padding:0;
}
#contatti li{
	background-position: left center;
	background-size: 30px;
	background-repeat: no-repeat;
    vertical-align: center;
    padding:8px 0 8px 43px;
}
#contatti #social_ig{
	background-image: url(../images/social/instagram.png);
}
#contatti #social_fb{
	background-image: url(../images/social/facebook.png);
}
#contatti #social_yt{
	background-image: url(../images/social/youtube_alternative.png);
}
#contatti #aiutaci{
    font-size:1.2em;
    font-weight: italic;
    font-weight: bold;
}

#homeDescription{
    text-align: center;
    font-size: 1.8em;
    max-width: 95%;
    margin: auto;
}
#content_home{
    padding: 40px 0;
}
#content_home h2{
    padding:40px;
}


/* film popolari ---------------------------------------------------------------------------------------------*/

#filmPopolari{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    background-color: var(--main-color-dark);
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.267) inset;
    list-style-type: none;
}

li.filmPopolare {
    width: 18vw;
    height: 18vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 360px;
    max-height: 360px;
    margin: 2em 1.2em 2em 1.2em;
    position: relative;
    border: none;
    padding-bottom: 1.5%;
    border-radius:8px;
    box-shadow: 0 0 20px 0px #303030;
}

li.filmPopolare p{
    font-size: 1.4em;
    height:12%;
    margin: 0;
    padding: 5% 7px;
    text-align: center;
    background-color: var(--main-color-lighter);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.filmPopolare a{
    display: block;
    margin: 0;
    width: 100%;
    height: 88%;
    border-radius: 0 0 8px 8px;
    background-size: cover;
    background-position: 40% 50%;
    margin: solid black 10px;
}
  
#filmPopolareLink a{
    color:black;
    font-size: 1.4em;
}

#linkFilmPopolari{
    background-color: var(--main-color-lighter);
    margin: auto;
    margin-top: 32px;
    display: block;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    margin-bottom: 16px;
    align-self: flex-end;
    box-shadow: 0 0 20px 0px #313131;
    min-width:420px;
    min-height: 40px;
}

#linkFilmPopolari:hover{
    background-color: var(--main-color-lightest);
}

/* Acquisto bilglietti Home-----------------------------------------------------------------------------------------*/

#acquistoBiglietti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    background-color: var(--main-color-lighter);
    list-style-type: none;
    padding: 0;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.267) inset;
}

#acquistoBiglietti li{
    width: 6em;
    height: 6em;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url(../images/outline_calendar_today_black_24dp.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    transition: all 0.3s ease-in-out;
}
 #acquistoBiglietti li:hover{
     background-color: #21a3df;
     transform: scale(1.03);
     cursor: pointer;
 }

#acquistoBiglietti li p.dayNum {
    font-size: 1.7em;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 33% 0 0 0;
}

#acquistoBiglietti li p.Month{
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top:  5%;
}

#acquistoBiglietti a {
    color: black;
    text-decoration: none;
}
#acquistoBiglietti a:visited{
    color:purple;
}

/* Lista recensioni --------------------------------------------------------------------------------------------------*/

#listaRecensioni {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

#listaRecensioni li {
    padding: 0.5em 1.5em;
    margin: 0.8em 0.5em;

    background: linear-gradient(to left top, white, 60%, #dadada);

    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.45);
}

#listaRecensioni h3 {
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(104, 104, 104, 0.3);
}

#listaRecensioni p {
    width: 20em;
    height: 4em;
    overflow: hidden;

    font-size: 1em;
    font-style: italic;
}

#listaRecensioni p::before {
    content: open-quote;
}
#listaRecensioni p::after {
    content: close-quote;
}
/* Galleria Home -------------------------------------------*/
#homeGalleria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    margin-top:2em;
    list-style-type: none;
    text-align: center;
}
#homeGalleria img{
    max-width:300px;
    margin-top:0.4em;
}
#homeGalleria h2{
    padding:0;
    margin:0;
    color:var(--main-color);
}
#homeGalleria a:visited h2{
    color:purple;
}
/* Lista Film / Proiezioni ---------------------------------------------------------*/

.filters {
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    padding: 0 1em;
}

.filters > p {
    display: inline;
    margin: 0;
    margin-right: 2em;
}

.filters > form {
    padding: 0.2em;
    display: inline-block;
}

.filters > form label {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 2em;
}

.filters > form input {
    display: inline-block;
    width: initial;
    margin-bottom: 0;
    padding: 0.3em;
}

.filters > form button[type="submit"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
}

.boxesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.boxesList li {
    position: relative;
    list-style: none;
    text-align: center;
    position: relative;
    width: 20em;
    margin: 2em;
    padding: 2em;
    padding-bottom: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    
    transition: box-shadow 0.2s ease-out;
}

.boxesList li:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.boxesList li h2 {
    margin-top: 0;
}

.boxesList li .data {
    margin-right: 1em;
}

.boxesList input[type="checkbox"] {
    position: absolute;
    left: -10000%;
}

.boxesList label {
    position: absolute;
    bottom: 8%;
    right: 6%;

    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: text-shadow 0.3s ease-in-out;
}

.boxesList label:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.boxesList a {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    
    text-decoration: solid;
    transition: text-shadow 0.3s ease-in-out;
}

.boxesList a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.boxesList a.linkTitolo {
    display: block;
    text-decoration: underline;
}
.boxesList a.linkTitolo:visited{
    color:purple;
}
.boxesList a.linkTitolo:visited h2{
    color:purple;
}
.boxesList a.linkTitolo:hover {
    text-shadow: none;
}

.boxesList a.acquista {
    position: absolute;
    bottom: 6%;
    right: 3%;
    margin: 0;
    padding: 0.3em 0.6em;

    background-color: #86ffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.315);
    border-radius: 5px;

    transition: background-color 0.2s ease-in-out;
}

.boxesList a.acquista:hover {
    text-shadow: none;
    background-color: #2bdada;
}

.boxesList a,.boxesList a:visited {
    color: var(--main-color-dark);
}

.filmInGara{
    display:block;
    padding-top:5px;
    color:var(--main-color);
}

.filmNonInGara{
    display:none;
}

/* Acquisto biglietti ------------------------------------------------------------- */


#content_acquistoBiglietti h1 {
    text-align: center;
    margin-bottom: 1.2em;
}

#content_acquistoBiglietti h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

header #loginSection p{
    padding:1em;
} 

#login-container button {
    font-size: 0.9em;
    margin: 0 1em;
}

#login-container form {
    padding: 1em;
}

#login-container form label {
    display: block;
}

#login-container form input {
    display: block;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

#login-container form button {
    border-radius: 4px;
    border-style: solid;
}

#login-container button:active {
    background-color: rgba(150, 150, 150, 0.822);
}

#content_acquistoBiglietti #ordine {
    font-size: 1.2em;
    width: 20em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;

    text-align: center;
    box-shadow: 1px 1px 4px black;
}

#content_acquistoBiglietti #ordine h3 {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0;

    text-shadow: initial;
    font-size: 1.3em;
}

#content_acquistoBiglietti #ordine p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#content_acquistoBiglietti #ordine p > span {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

#content_acquistoBiglietti #form-intro {
    text-align: center;
    font-style: italic;
}

#content_acquistoBiglietti #pagamento {
    text-align: center;
    margin-bottom: 2em;
}

#content_acquistoBiglietti #pagamento input:not([type="submit"]) {
    position: absolute;
    left: -10000%;
}

#content_acquistoBiglietti #pagamento label {
    display: inline-block;
    cursor: pointer;
    margin: 0.5em;   
    padding: 0.5em;

    width: 8em;

    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);

    transition: border 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

#content_acquistoBiglietti #pagamento label:hover {
    border: 2px solid #71aa00;
}

#content_acquistoBiglietti #pagamento label.selected {
    background-color: #abdb4a;
    border: 2px solid #71aa00;
}

#content_acquistoBiglietti #pagamento input[type="submit"] {
    display: block;
    width: initial;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.3em 0.5em;

    font-size: 1em;
}

/* Login box */

#contentLogin,
#contentSignin {
    display: none;
}

#contentLogin.show,
#contentSignin.show {
    display: block;
}

/*Pagina Utente ------------------------------------------------------------------- */

#content_paginaUtente #informazioniAccount{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    border: solid black 1px;
    border-radius: 4px;
}

#content_paginaUtente #informazioniAccount form{
    margin-left: 1em;
    margin-right: 1em;
}

#content_paginaUtente #informazioniAccount fieldset:last-of-type .button{
    margin-bottom: 0;
}

.BoxUser{
    width: 90%;
    border: solid black 1px;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 4px;
    padding:1em;
}

#content_paginaUtente h1{
    padding-left: 1em;
}

.BoxUser h1{
    padding-left: 1em;
}

.BoxUser ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;

    padding: 1em;
}

.ticket{
    background-color: var(--main-color-light);
    border: solid black 1px;
    border-radius: 4px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 0 1em 0;
    color: white;
    width: 25%;
    min-width: 200px;
}

.ticket-up:first-child{
    font-size: 1.2em;
    font-weight: 600;
}

.ticket-low:first-child{
    font-style: italic;
}

.BoxUser ul#acnSospese{
    padding: 1em;
    margin: 0;
}
.BoxUser ul#acnSospese li form{
    padding: 1em;
}

#content_paginaUtente ul#acnSospese .button, #content_paginaUtente ul#acnSospese p{
    margin-top: 1em;
    margin-bottom: 0;
}

/* Come Trovarci --------------------------------------------------------------------------------------------------*/
#ristorazione h2{
    margin-top:70px;
}
#content_comeTrovarci #gmaps{
    max-width: 200px;
    float:left;
    margin: 0 20px 30px 0;
}
#ComeRaggiungerci{
    clear:both;
}
#content_comeTrovarci dl{
    padding:0;
    margin:0;
}
#content_comeTrovarci dt{
    color:black;
    text-align: left;
    text-shadow: 1px 1px 7px #afafaf;
    font-size: 1.4em;
    margin-bottom:0;
}
#content_comeTrovarci dd{
    margin:0;
}

#ristorazione dt{
    color:var(--main-color-dark);
    margin-top:16px;
}

/* Contest --------------------------------------------------------------------------------------------------*/

#content_contest div:first-of-type{
    margin: 2em auto;
    width: 60%;
    padding: 0 1% 1% 1%;
}

/* Admin --------------------------------------------------------------------------------------------------*/

.content_admin{
    margin-left:170px;
    background-color: var(--main-color-background-light);
    padding:20px;
}

header #adminMenu ul {
    width:150px;
    position: sticky;
    background-color: var(--main-color-lighter);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding: 4px 10px;
    margin-top:2px;
    float:left;
    list-style: none;
    text-align:left;
    color:black;
}
#adminMenu li.adminCurrentPage {
    color:var(--main-color-darker);
}
#adminMenu li a:hover {
    color:var(--main-color-darker);
    text-decoration: underline;
}

#adminInfo{
    max-width: 500px;
    margin:auto;
    border: 3px solid black;
    margin-bottom: 30px;
}
#adminInfo dt{
    background-color: var(--main-color-lighter);
    text-align: center;
    display: block;
}
#adminInfo dd{
    background-color: var(--main-color-lightest);
    margin:0;
    text-align: center;
    display: block;
}

/* Admin Candidature ------------------------------------*/

p.attenzioneCandidatura{
    font-size: 16px;
    font-style: italic;
}

#content_adminCandidature li .button{
    margin-left:8px;
}

#acnSospese li{
    border:var(--main-color-dark) solid;
    border-radius: 4px;
    background-color: var(--main-color-light-halfopacity);
    list-style-type: none;
    margin:5px 0;
    padding:0.5em;
}

.ancsDescrizione{
    font-style: italic;
}


#content_adminCandidature input{
    margin-top:30px;
}

.toggle {
    display: none;
}

.text-toggle {
    display: block;
    font-size: 1.2rem;
    text-align: center;

    padding: 1rem;

    color: white;
    background: var(--main-color-dark);

    cursor: pointer;

    transition: all 0.25s ease-out;
}

.text-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .text-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.candidatura {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.candidatura img{
    width: 95%;
    padding: 1em;
    margin: auto;
    border-radius: 30px;
    grid-area: c;
}
#content_adminCandidature .candidatura img{
    width:initial;
    max-height: 200px;
}
#content_adminCandidature .candidatura label{
    display:block;
}

.toggle:checked + .text-toggle + .candidatura {
    max-height: 300vh;
}

.toggle:checked + .text-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.candidatura .candidatura-inner {
    background: var(--login-color);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding:6px 12px;
}

/* Admin Utenti ---------------------------------------------------------------------------------------*/

#content_adminUtenti div.boxUtente{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    padding: 1em;
    border: solid black 1px;
    border-radius: 4px;
}

#content_adminUtenti div.boxUtente p{
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#content_adminUtenti div.boxUtente ul#ticketList{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

#content_adminUtenti .ticket{
    width: 40%;
    min-width: 15em;
    padding: 0.5em;
    margin: 0.5em;
}

#content_adminUtenti .ticket select, #content_adminUtenti #aggiungiBiglietto select{
    margin-bottom: 0.3em;
}

#content_adminUtenti .ticket .button{
    margin-top: 0.3em;
    margin-bottom: 0;
}

.boxUtente{
    background: white;
    border-radius: 8px;
}

#content_adminUtenti #aggiungiBiglietto .button{
    margin-top: 0.5em;
}

/* Admin Lista Film / Lista Proiezioni  --------------------------------------------------------------------- */

#content_adminListaFilm *,
#content_adminProiezioni * {
    width: initial;
}

#content_adminListaFilm form .button,
#content_adminProiezioni form .button {
    padding: 3px;
}

/* Collapsible Headers */

#content_adminListaFilm h2,
#content_adminProiezioni h2 {
    margin-top: 1.5em;
}

#content_adminListaFilm h2 label,
#content_adminProiezioni h2 label {
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;

    cursor: pointer;

    transition: border-bottom 0.5s ease-out;
}

#content_adminListaFilm h2 label::after,
#content_adminProiezioni h2 label::after {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-left: .7rem;
    transform: rotate(90deg) translateX(-3px);

    transition: transform .2s ease-out;
}

#content_adminListaFilm .collapse:checked + h2 label,
#content_adminProiezioni .collapse:checked + h2 label{
    border-bottom: 3px solid var(--main-color-dark);
}

#content_adminListaFilm .collapse:checked + h2 label::after,
#content_adminProiezioni .collapse:checked + h2 label::after {
    transform: translateY(-2px);
}

#content_adminListaFilm input[type="checkbox"].collapse,
#content_adminProiezioni input[type="checkbox"].collapse {
    position: absolute;
    left: -10000%;
}

#content_adminListaFilm form,
#content_adminProiezioni form {
    visibility: visible;
    opacity: 1;
    max-height: 60em;
    overflow: hidden;

    padding-bottom: 1.5em;

    margin-top: 0;
    margin-bottom: 1em;
    
    border: none;
    border-bottom: 2px solid black;

    transition: 0.5s ease-in-out;
}

#content_adminProiezioni form {
    max-height: 20em;
}

#content_adminListaFilm #acollapse:checked ~ #alfAggiungi,
#content_adminListaFilm #mcollapse:checked ~ #alfModifica,
#content_adminProiezioni #acollapse:checked ~ #aprAggiungi,
#content_adminProiezioni #mcollapse:checked ~ #aprModifica {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* -Collapsible Headers */

#content_adminListaFilm #alfSelect {
    display: inline-block;
    margin-bottom: 2em;
}

#content_adminListaFilm label,
#content_adminProiezioni label {
    display: inline-block;
    min-width: 6em;
}

#content_adminListaFilm input,
#content_adminProiezioni input {
    margin-top: 0.5em;
}

#content_adminListaFilm select,
#content_adminProiezioni select,
#content_adminProiezioni input[type="datetime-local"] {
    margin-top: 1.2em;
    margin-left: 1.2em;
    margin-bottom: 0.5em;
    max-width: 15em;
}

#content_adminProiezioni input[type="datetime-local"] {
    display: inline-block;
}

#content_adminListaFilm input[type="checkbox"] {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

#content_adminListaFilm input[type="submit"],
#content_adminProiezioni input[type="submit"] {
    display: inline-block;
    margin-left: 1em;
    margin-right: 0.8em;
    margin-top: 1em;
    width: 10em;
}

#content_adminProiezioni input[type="submit"] {
    margin-top: 2em;
}

#content_adminProiezioni #apSelectP {
    margin-bottom: 2em;
}

/* Pagina film ---------------------------------------------------------------------------------------------- */

#content_templateFilm{
    display: grid;
    grid-template-areas:    "c a"
                            "c b"
                            "c e"
                            "d e"
                            "f f";
}

#content_templateFilm h1{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    grid-area: a;
}

#content_templateFilm h2{
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    grid-area: b;
}

#content_templateFilm dl{
    margin: auto;
    padding: 1em;
    width: 95%;
    grid-area: d;
}

#content_templateFilm dt{
    float: left;
    clear: left;
    width: max-content;
    font-weight: 600;
    padding-bottom: 0.3em;
}

#content_templateFilm dt::after{
    content: ":";
}

#content_templateFilm dd{
    padding: 0 0 0.3em 10em;
}

#content_templateFilm ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#content_templateFilm li{
    display: inline;
    margin: 0;
    padding: 0;
}

#content_templateFilm li::after{
    content: ",";
}

#content_templateFilm li:last-child::after{
    content: "";
}

#content_templateFilm p{
    font-size: 1.2em;
    font-style: italic;
    width: 95%;
    padding: 1%;
    margin: auto;
    text-align: justify;
    grid-area: e;
}

#content_templateFilm img{
    width: 95%;
    padding: 1em;
    margin: auto;
    grid-area: c;
}

#content_templateFilm a{
    font-size: 1.5em;
    padding: 2%;
    text-align: center;
    grid-area: f;
}

/* tornaSu -------------------------------*/


#tornaSu {
    display: none;
    height: 3em;
    width: 3em;
    overflow-y: auto;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--main-color-light);
    border-radius: 10px;
    opacity: 0.9;
}

#tornaSu a {
    display: block;
    margin: 0;
    height: 3em;
    border-radius: 10px;
} 

#tornaSu a img {
    display: block;
    width: 35px;
    height: auto;
    margin: auto;
    padding-top: 0.46em;
}

#tornaSu:hover {
    opacity: 0.97;
}


/* ---CONTENT */

/* FOOTER */

footer {
    background-color: var(--footer-color);
    color: aliceblue;
    font-size: 0.9em;
    padding:30px;
}
footer #pannelloadmin{
    color:white;
}
footer ul {
    margin-top:8px;
    list-style-type: none;
    text-align: center;
    padding: 0;
}
footer ul li{
    display:inline;
    margin: 5em 1.8em;
}
footer p {
    text-align: center;
}
#listaSponsor img{
    max-width: 180px;
    max-height: 80px;
}
#listaSponsor p{
    display:none;
}
footer a {
    display: block;
    font-size: 2.3em;
    text-align: center;
    background-color: var(--main-color-dark);
}

/* ---FOOTER */

/* OTHER */

.remove {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}