body {
    --main-color: #0f709a;
    --main-color-light: #34A0A4;
    --main-color-light-halfopacity: #168aad77;
    --main-color-lighter: #74d9dd;
    --main-color-lightest: #b2f8fa;
    --main-color-dark: #1E6091;
    --main-color-dark-halfopacity: #1a4e778c;
    --main-color-darker:#143c5a;
    --main-color-background: #e7fbff;
    --main-color-background-light: #ffffff;
    --main-color-contrast:#4c4c4c;

    --other-color:#9e0000;
    --other-color-light:#d83a3a;
    --other-color-dark:#9e0000;
    --other-color-darker:#9e0000;

    --login-color: #f8f8f8;
    --login-color-hover: #aaaaaa;
    --login-color-09opacity: #f8f8f8e7;
    --login-color-hover-09opacity: #aaaaaae7;

    --footer-color: #15516b;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--main-color-background);
    font-family: 'Mulish', sans-serif;
    font-size: 120%;
}

/* General Input Styles */

button,
input,
textarea,
select {
    /* Testo più leggibile */
    font-size: 0.8em; 
}

select {
    /* Select più carino */
    padding: 0.2em 0.4em;
    border-radius: 2px;

    background-color: #f1f1f1;
}

/* Form Style */

form {
    /* Non lo so, mi sembra carino ma non sono sicuro */
    padding: 1em; 
}

form input, 
form textarea {
    /* Per separare dal testo sovrastante */
    margin-top: 0.2em; 
}

form input[type="submit"] {
    /* Più bottoni submit stanno sulla stessa riga, anche perchè non avendo label dovrebbero stare bene su una riga sola */
    display: inline-block; 

    /* Nessun margine ulteriore a fine form */
    margin-bottom: 0; 
}

/* Material Icons */

span.material-icons-outlined.md18 {
    font-size: 18px;
}

span.material-icons-outlined.md24 {
    font-size: 24px;
}

span.material-icons-outlined.md36 {
    font-size: 36px;
}

span.material-icons-outlined.md48 {
    font-size: 48px;
}

/* HEADER --------------------------------------------- */

header {
    position: sticky;
    top: -6.5em;
    z-index: 1;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);

    background-color: var(--main-color);
    opacity: 0.99;
    
    text-align: center;
}

header h1 {
    margin: auto;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
}

.goToContent {
    background: var(--main-color-dark);
    color: #fff;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.goToContent:focus {
    transform: translateY(0%);
}

/* Nav Menu */

header #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    padding-left: 0em;
    margin: auto;

    list-style-type: none;
}

header #menu li {
    width: 16.666%;
}

header #menu li a {
    display: block;
    padding-top: 0.8em;
    padding-bottom: 0.4em;

    border-top: 1px solid var(--main-color-dark-halfopacity);

    text-decoration: none;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    transition: background-color 0.5s ease-out;
}

header #menu li a:hover {
    background-color: var(--main-color-dark);
}

/* Breadcrumb */

header #breadcrumb {
    text-align: left;
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
}

header #breadcrumb p {
    background-color: var(--main-color-light-halfopacity);
    padding: 0.1em 0.2em;
    margin: 0;
} 

/* Login-signup */

header #accountButton {
    position: absolute;
    top: 10%;
    right: 5%;
}

header #accountButton, 
header #accountDropdown button {
    color: rgb(49, 49, 49);
    cursor: pointer;

    padding: 0.4em 1em;

    transition: background-color 0.2s ease-out;
}

header #accountButton {
    background-color: var(--login-color);
    border: 1px solid rgba(82, 82, 82, 0.7);
    border-radius: 5px;
}

header #accountButton:hover {
    background-color: var(--login-color-hover);
}

header #accountDropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;

    top: 40%;
    right: 0.5%;

    background-color: white;
    text-align: left;

    box-shadow: 1px 2px 8px rgb(0 0 0 / 15%);
    border: 1px solid #ced4da;

    transition: 0.2s ease-in-out;
}

header #accountDropdown.dropdown {
    visibility: visible;
    opacity: 1;
}

header #accountDropdown {
    z-index: 2;
}

header #accountDropdown .slidableOut {
    display: block;
    padding: 1em;
}

header #accountDropdown .slideOut {
    display: none;
}

header #accountDropdown .slidableIn {
    display: none;

    transition: 0.5s ease-in-out;
}

header #accountDropdown .slideIn {
    display: block;
}

header #accountDropdown header {
    position: static;
    background-color: white;
    text-align: left;
}

header #accountDropdown button {
    display: block;
    min-width: 10em;
    margin: 0.8em;
    border: 1px solid rgba(82, 82, 82, 0.7);

    background-color: var(--login-color);
}

header #accountDropdown div > a {
    margin: 0.5em;
    display: block;
    text-align: center;
}

header #accountDropdown header button {
    min-width: initial;
    margin: initial;
    background-color: #f1f1f1;
    border: none;
}

header #accountDropdown button:hover {
    background-color: var(--login-color-hover);
}

header form {
    padding: 1em;
}

header form input {
    margin-top: 0.2em;
    border: 1px solid #ced4da;
}

header form button {
    border-radius: 4px;
    border-style: solid;
}

header button:active {
    background-color: rgba(150, 150, 150, 0.822);
}

/* ---HEADER */


/* CONTENT */

div.content{
    background-color: var(--main-color-background-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    padding:40px;
}
.content h1{
    color:var(--main-color-darker);
    text-align: left;
    text-shadow: 1px 1px 7px var(--main-color-light-halfopacity);
    font-size: 2.8em;
}
.content h2{
    color:var(--main-color-dark);
}
  
.content form input{
    display: block;
    width: 80%;
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: 1em;
}

.content form label{
    display: block;
}

.content form textarea{
    display: block;
    width: 80%;
    padding: 0.4em;
    margin-top: 0;
    margin-bottom: 1em;
    resize: vertical;
    overflow: auto;   
}

.content form .formButton{
    width: fit-content;
    min-width: 50px;
    background-color: var(--main-color);
    border: none;
    padding: 0.3em 1em 0.3em 1em;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.content form .formButton:hover{
    background-color: var(--main-color-dark);
}



#homeDescription{
    text-align: center;
    text-shadow: 1px 1px 7px var(--main-color-light-halfopacity);
    font-size: 2.3em;
}
.content h3{
    color:black;
    text-align: left;
    text-shadow: 1px 1px 7px #afafaf;
    font-size: 1.4em;
    margin-bottom:0;
}
#contatti ul{
    list-style-type: none;
    padding:0;
}
#contatti li{
	background-position: left center;
	background-size: 30px;
	background-repeat: no-repeat;
    vertical-align: center;
    padding:8px 0 8px 43px;
}
#contatti #social_ig{
	background-image: url(../images/social/instagram.png);
}
#contatti #social_fb{
	background-image: url(../images/social/facebook.png);
}
#contatti #social_yt{
	background-image: url(../images/social/youtube.png);
}
#contatti #aiutaci{
    font-size:1.2em;
    font-weight: italic;
    font-weight: bold;
}

#homeDescription{
    text-align: center;
    font-size: 1.8em;
}
#content_home{
    padding:40px 0;
}


/* film popolari ---------------------------------------------------------------------------------------------*/

#filmPopolare1 a{ background-image: url(../images/filmPopolare1.jpg);}
#filmPopolare2 a{ background-image: url(../images/filmPopolare2.jpg);}
#filmPopolare3 a{ background-image: url(../images/filmPopolare3.jpg);}

#filmPopolari{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    background-color: var(--main-color-dark);
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.267) inset;
    list-style-type: none;
}

li.filmPopolare {
    width: 18vw;
    height: 18vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 360px;
    max-height: 360px;
    margin: 2em 1.2em 2em 1.2em;
    position: relative;
    border: none;
    padding-bottom: 1.5%;
    border-radius:8px;
    box-shadow: 0 0 20px 0px rgb(49, 49, 49);
}

li.filmPopolare p{
    font-size: 1.8em;
    margin: 0;
    /* margin-bottom: 0.4em; */
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: var(--main-color-lighter);
    
    /* box-shadow: 0 0 20px 0px rgb(49, 49, 49); */
}

li.filmPopolare a{
    display: block;
    margin: 0;
    width: 100%;
    height: 90%;
    border-radius: 0 0 8px 8px;
    background-color: var(--main-color-light);
    background-size: cover;
    background-position: 50% 50%;
    margin: solid black 10px;
    /* box-shadow: 0 0 20px 0px rgb(49, 49, 49); */
}
  
#filmPopolareLink a{
    color:black;
    font-size: 1.4em;
}
#filmPopolareLink{
    background-color: var(--main-color-lighter);
    min-width:350px;
    min-height: 40px;
}

#linkFilmPopolari{
    background-color: var(--main-color);
    width: 57%;
    margin: auto;
    margin-top: 3em;
    display: block;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    margin-bottom: 8px;
    align-self: flex-end;
    box-shadow: 0 0 20px 0px rgb(49, 49, 49);
}

#filmPopolareLink:hover{
    background-color: var(--main-color-lightest);
}

#linkFilmPopolari:hover{
    background-color: var(--main-color-light);
}

/* Acquisto bilglietti Home-----------------------------------------------------------------------------------------*/

#acquistoBiglietti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    background-color: var(--main-color-light-halfopacity);
    list-style-type: none;
    padding: 0;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.267) inset;
    /*
        border: solid black 1px;
        border-radius: 15px;
        width: 90%;
    */
}

#acquistoBiglietti li{
    width: 6em;
    height: 6em;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url(../images/outline_calendar_today_black_24dp.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    transition: all 0.3s ease-in-out;
    /*
        border: solid black 1px;
        border-radius: 10%;
    */
}

 #acquistoBiglietti li:hover{
     background-color: #21a3df;
     transform: scale(1.03);
     cursor: pointer;
 }

#acquistoBiglietti li p.dayNum {
    font-size: 1.7em;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 33% 0 0 0;
}

#acquistoBiglietti li p.Month{
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top:  5%;
    padding-left:8px;
}

/* Lista recensioni --------------------------------------------------------------------------------------------------*/

#listaRecensioni {
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

#listaRecensioni li {
    padding: 0.5em 1.5em;
    margin: 0.8em 0.5em;

    background: linear-gradient(to left top, white, 60%, rgb(218, 218, 218));

    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.45);
}

#listaRecensioni h3 {
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(104, 104, 104, 0.3);
}

#listaRecensioni p {
    max-width: 20em;
    max-height: 6em;
    overflow: hidden;

    font-size: 1em;
    font-style: italic;

    quotes: "“" "”" "‘" "’";
}

#listaRecensioni p::before {
    content: open-quote;
}
#listaRecensioni p::after {
    content: close-quote;
}

/* Lista Film / Proiezioni ---------------------------------------------------------*/

.filters {
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    padding: 0 1em;
}

.filters > p {
    display: inline;
    margin: 0;
    margin-right: 2em;
}

.filters > form {
    padding: 0.2em;
    display: inline-block;
}

.filters > form label {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 2em;
}

.filters > form input {
    display: inline-block;
    width: initial;
    margin-bottom: 0;
    padding: 0.3em;
}

.filters > form button[type="submit"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
}

.boxesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-right: 2.5em;
}

.boxesList li {
    position: relative;
    list-style: none;
    text-align: center;
    position: relative;
    width: 20em;
    margin: 2em;
    padding: 2em;
    padding-bottom: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);

    transition: box-shadow 0.2s ease-out;
}

.boxesList li:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.boxesList li h2 {
    margin-top: 0;
}

.boxesList li .data {
    margin-right: 1em;
}

.boxesList input[type="checkbox"] {
    position: absolute;
    left: -10000%;
}

.boxesList label {
    position: absolute;
    bottom: 8%;
    right: 6%;

    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: text-shadow 0.3s ease-in-out;
}

.boxesList label:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.boxesList a {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    text-decoration: solid;
    transition: text-shadow 0.3s ease-in-out;
}

.boxesList a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.boxesList a.acquista {
    position: absolute;
    bottom: 6%;
    right: 3%;
    margin: 0;
    padding: 0.3em 0.6em;

    background-color: rgba(0, 255, 255, 0.35);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.315);
    border-radius: 5px;

    transition: background-color 0.2s ease-in-out;
}

.boxesList a.acquista:hover {
    text-shadow: none;
    background-color: rgba(0, 165, 165, 0.575);
}

.boxesList a:visited {
    color: initial;
}

/* Acquisto biglietti ------------------------------------------------------------- */


#content_AcquistoBiglietti h1 {
    text-align: center;
    margin-bottom: 1.2em;
}

#content_AcquistoBiglietti h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

#login-container button {
    font-size: 0.9em;
    margin: 0 1em;
}

#login-container form {
    padding: 1em;
}

#login-container form label {
    display: block;
}

#login-container form input {
    display: block;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

#login-container form button {
    border-radius: 4px;
    border-style: solid;
}

#login-container button:active {
    background-color: rgba(150, 150, 150, 0.822);
}

#content_AcquistoBiglietti #contentLogin,
#content_AcquistoBiglietti #contentSignin {
    display: none;
}

#content_AcquistoBiglietti #contentLogin.show,
#content_AcquistoBiglietti #contentSignin.show {
    display: block;
}

#content_AcquistoBiglietti #ordine {
    font-size: 1.2em;
    width: 20em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;

    text-align: center;
    box-shadow: 1px 1px 4px black;
}

#content_AcquistoBiglietti #ordine h3 {
    font-size: 1.3em;
    margin-top: 0;
}

#content_AcquistoBiglietti #ordine p {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#content_AcquistoBiglietti #ordine p > span {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

#content_AcquistoBiglietti #form-intro {
    text-align: center;
    font-style: italic;
}

#content_AcquistoBiglietti #pagamento {
    text-align: center;
    margin-bottom: 2em;
}

#content_AcquistoBiglietti #pagamento input:not([type="submit"]) {
    position: absolute;
    left: -10000%;
}

#content_AcquistoBiglietti #pagamento label {
    display: inline-block;
    cursor: pointer;
    margin: 0.5em;   
    padding: 0.5em;

    width: 8em;

    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);

    transition: border 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

#content_AcquistoBiglietti #pagamento label:hover {
    border: 2px solid rgb(113, 170, 0);
}

#content_AcquistoBiglietti #pagamento label.selected {
    background-color: rgb(171, 219, 74);
    border: 2px solid rgb(113, 170, 0);
}

#content_AcquistoBiglietti #pagamento input[type="submit"] {
    font-size: 1em;
    display: block;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.3em 0.5em;
}

/*Pagina Utente ------------------------------------------------------------------- */

#content_PaginaUtente div:first-of-type{
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    padding: 0 1% 1% 1%;
    border: solid black 1px;
}

#content_PaginaUtente form fieldset:first-child{
    padding-bottom: 0;
    margin-bottom: 1em;  
}

#biglietti{
    width: 90%;
    border: solid black 1px;
    margin: auto;
    margin-bottom: 2em;
}

#biglietti h1{
    padding-left: 1em;
}

#biglietti ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;

    padding: 1em;
}

.ticket{
    background-color: var(--main-color-light);
    border: solid black 1px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em 0 1em 0;
    width: 25%;
    min-width: 200px;
}

.ticket-up:first-child{
    font-size: 1.2em;
    font-weight: 600;
}

.ticket-low:first-child{
    font-style: italic;
}

.ticket-low:first-child::after{
    content: ",";
}

/* Come Trovarci --------------------------------------------------------------------------------------------------*/
#content_ComeTrovarci #gmaps{
    max-width: 200px;
    float:left;
    margin: 0 20px 30px 0;
}
#ComeRaggiungerci{
    clear:both;
}
#ComeRaggiungerci dl{
    padding:0;
    margin:0;
}
#ComeRaggiungerci dt{
    color:black;
    text-align: left;
    text-shadow: 1px 1px 7px #afafaf;
    font-size: 1.4em;
    margin-bottom:0;
}
#ComeRaggiungerci dd{
    margin:0;
}

#ristorazione ul{
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 2em;
}

/* 404 --------------------------------------------------------------------------------------------------*/

#404{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contest --------------------------------------------------------------------------------------------------*/

#content_contest div:first-of-type{
    margin: 2em auto;
    width: 60%;
    padding: 0 1% 1% 1%;
}
 

/* Admin --------------------------------------------------------------------------------------------------*/

#adminDashboard{
    width: 76%;
    margin: auto;
    border: 3px solid black;
    display: flex;
    margin-top: 30px;
    margin-bottom: 4px;
}
#adminDashboard a{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    text-align: center;
    display: inline-block;
    width: 30%;
    border: 3px solid #a12c23;
}
#adminDashboard a:hover{
    background-color: #f36e65;
    color: white;
}
#adminInfo{
    width: 70%;
    margin: auto;
    border: 3px solid black;
    margin-bottom: 30px;
}
#adminInfo dt{
    background-color: #e6847d;
    text-align: center;
    display: block;
}
#adminInfo dd{
    background-color: rgb(219, 185, 182);
    margin:0;
    text-align: center;
    display: block;
}

.tornaDashboard{
    display: block;
    margin: 8px 0 10px 4px;
}

#acnSospese li{
    border:darkblue solid;
    max-width: 400px;
    list-style-type: none;
    margin:5px 0;
    padding:0;
}
#acnSospese li h2{
    background-color: rgb(255, 163, 57);
    padding:0;
    margin:0;
}
#acnSospese li pre{
    text-align: center;
}
#acnSospese li a{
    display:block;
    text-align:center;
}
#acnSospese li label, #acnSospese li textarea{
    margin-left:10px;
    margin-bottom:4px;
}
#acnSospese li .ancsAccetta, #acnSospese li .ancsRifiuta{
    background-color: rgb(255, 163, 57);
    margin-left:8px;
    margin-bottom:4px;
}
#acnApprovate{
    display:none;
}
#acnRifiutate{
    display:none;
}

#alfModifica,#alfAggiungi{
    display:block;
    border:darkmagenta solid;
}

#aprAggiungi,#aprModifica{
    display:block;
    border:darkmagenta solid;  
}

/* Admin Lista Film / Lista Proiezioni  --------------------------------------------------------------------- */

#content_admin_listaFilm *,
#content_admin_proiezioni * {
    width: initial;
}

#content_admin_listaFilm h2,
#content_admin_proiezioni h2 {
    margin-top: 1.5em;
}

#content_admin_listaFilm form,
#content_admin_proiezioni form {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: 1.5em;

    border: none;
    border-bottom: 2px solid black;
}

#content_admin_listaFilm form input,
#content_admin_proiezioni form input {
    margin-top: 0.5em;
}

#content_admin_listaFilm form input[type="submit"],
#content_admin_proiezioni form input[type="submit"] {
    display: inline-block;
    margin-right: 0.6em;
    margin-top: 0.8em;
}

#content_admin_listaFilm select,
#content_admin_proiezioni select {
    margin-top: 1em;
    margin-left: 0.6em;
    margin-bottom: 0.5em;
}

#content_admin_listaFilm form input[type="checkbox"] {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

#content_admin_listaFilm form label.inline {
    display: inline;
}

#content_admin_proiezioni form input[type="submit"] {
    margin-top: 1.2em;
}

#content_admin_proiezioni form select {
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* Pagina film ---------------------------------------------------------------------------------------------- */
#content_templateFilm{
    display: grid;
    grid-template-areas:    "c a"
                            "c b"
                            "c e"
                            "d e"
                            "f f";
    margin-top: 2em;
}

#content_templateFilm h1{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    grid-area: a;
}

#content_templateFilm h2{
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    grid-area: b;
}

#content_templateFilm dl{
    margin: auto;
    padding: 1em;
    width: 95%;
    grid-area: d;
}

#content_templateFilm dt{
    float: left;
    clear: left;
    width: max-content;
    font-weight: 600;
    padding-bottom: 0.3em;
}

#content_templateFilm dt::after{
    content: ":";
}

#content_templateFilm dd{
    padding: 0 0 0.3em 10em;
}

#content_templateFilm ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#content_templateFilm li{
    display: inline;
    margin: 0;
    padding: 0;
}

#content_templateFilm li::after{
    content: ",";
}

#content_templateFilm li:last-child::after{
    content: "";
}

#content_templateFilm p{
    font-size: 1.2em;
    font-style: italic;
    width: 95%;
    padding: 1%;
    margin: auto;
    text-align: justify;
    grid-area: e;
}

#content_templateFilm img{
    width: 95%;
    padding: 1em;
    margin: auto;
    grid-area: c;
}

#content_templateFilm a{
    padding: 2%;
    text-align: center;
    grid-area: f;
}

/* tornaSu -------------------------------*/


#tornaSu {
    overflow-y: auto;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--main-color-light);
    padding: 0.8em;
    border-radius: 10px;
    opacity: 0.9;
}

#tornaSu a {
    width: 10px;
    height: 10px;
}

#tornaSu a img {
    width: 35px;
    height: auto;
}

#tornaSu:hover {
    opacity: 0.97;
}


/* ---CONTENT */

/* FOOTER */

footer {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    border-top: 1px solid rgba(0, 0, 0, 0.582);
    background-color: var(--footer-color);

    font-size: 0.9em;
}

footer ul {
    display: flex;
    flex-direction: row;
    margin: 0 0.5em;
    padding-left: 0;
}

footer li {
    margin-left: 2em;
}

footer p {
    margin-left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
}

footer #htmlvalid {
    margin-left: 0.5em;
    height: 2em;
}

footer #cssvalid {
    height: 2em;
    margin-right: 0.5em;
    justify-self: left;
}

footer > a {
    display: none;
}

/* ---FOOTER */

/* OTHER */

.remove {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}