<!DOCTYPE html>

<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About us - CinePado</title>

    <meta name="keywords" content="storia, contatti, chi siamo, cinema, festival, padova, CinePado"/>
    <meta name="description" content="La nostra storia, i contatti ed altre informazioni di CinePado, il festival di cinema di Padova." />
    <meta name="author" content="L. Annicchiarico T. Di Fant G. Moretti A. Nicoletti" />

    
    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/small.css" media="screen and (max-width: 600px)">
    <link href="../css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">    <script src="../js/scripts.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>

<body>
    <header>
        <a class="goToContent" href="#content_aboutUs">Vai al contenuto</a>

        <a href="index.php"><h1>CinePado</h1></a>

        <button <iflogged>title="Vedi il tuo account oppure effettua il logout"</iflogged><ifnotlogged>title="Effettua il login oppure registrati"</ifnotlogged> aria-expanded="false" aria-controls="accountDropdown" id="accountButton" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">account_circle</span><accountname/></button>
        <div id="accountDropdown" role="dialog" aria-label="Account">
            <div id="accountSection" class="slidableOut">
                <div class="loginNavigation">   
                    <button class="back" aria-label="Chiudi Dialogo" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">close</span></button>
                </div>
                <div id="accountSectionButtons">
                    <ifnotlogged>
                        <logoutfeedback/>
                        <registerfeedbackpositive/>
                        <button id="loginBtn" onclick="openLogin()">Login</button>
                        <button id="signupBtn" onclick="openSignup()">Registrati</button>
                    </ifnotlogged>
                    <iflogged>
                        <loginfeedback/>
                        <form id="logout" method="post"></form>
                        <a id="linkUtente" href="paginaUtente.php">Il mio Profilo</a>
                        <button id="logoutBtn" name="method" value="logout" form="logout">Logout</button>
                    </iflogged>
                </div>
            </div>
            <ifnotlogged>
                <div id="loginSection" class="slidableIn">
                    <div class="loginNavigation">
                        <button class="back" aria-label="Torna Indietro" onclick="loginBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                    </div>
                    <loginfeedback/>
                    <form id="login" method="post" onsubmit="return validazioneForm(this);">
                        <label for="loginEmail">Email</label>
                        <span><input id="loginEmail" name="email" type="text" autocomplete="username"></span>
                        <label for="loginPassword">Password</label>
                        <span><input id="loginPassword" name="password" type="password" autocomplete="current-password"></span>

                        <button name="method" value="login">accedi</button>
                    </form>
                </div>
        
                <div id="signupSection" class="slidableIn">
                    <div class="loginNavigation">
                        <button class="back" aria-label="Torna Indietro" onclick="signupBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                    </div>
                    <registerfeedbacknegative/>
                    <form id="signup" method="post" onsubmit="return validazioneForm(this);">
                        <label for="signupNome">Nome</label>
                        <span><input id="signupNome" name="nome" type="text" autocomplete="name"></span>
                        <label for="signupCognome">Cognome</label>
                        <span><input id="signupCognome" name="cognome" type="text" autocomplete="family-name"></span>
                        <label for="signupDataNascita">Data di nascita</label>
                        <span><input id="signupDataNascita" name="data_di_nascita" type="date" placeholder="yyyy-mm-dd" autocomplete="bday"></span>
                        
                        <label for="signupEmail">Email</label>
                        <span><input id="signupEmail" name="email" type="text" autocomplete="home email"></span>
                        <label for="signupPassword">Password</label>
                        <span><input id="signupPassword" name="password" type="password" autocomplete="new-password"></span>
                        <label for="signupPassword2">ridigita la password</label>
                        <span><input id="signupPassword2" name="password2" type="password" autocomplete="new-password"></span>
            
                        <button name="method" value="register">registrati</button>
                    </form>
                </div>
            </ifnotlogged>
        </div>

        <nav id="menu" title="Menù del sito" aria-label="Menù del sito">
            <ul>
                <li lang="en"><a href="index.php">Home</a></li>
                <li lang="en"><a class="currentPage">About us</a></li>
                <li><a href="listaFilm.php">Film</a></li>
                <li><a href="proiezioni.php">Proiezioni</a></li>
                <li><a href="comeTrovarci.php">Come Trovarci</a></li>
                <li><a href="contest.php">Il Contest</a></li>
            </ul>
        </nav>

        <nav id="breadcrumb" title="Percorso di navigazione" aria-label="Percorso di navigazione">
            <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt; &gt; <span lang="en">About us</span></p>
        </nav>

    </header>

     

    <div id="content_aboutUs" class="content" role="main">
        <h1 lang="en">About us</h1>

        <h2 id="chiSiamo">Chi siamo</h2>
        <p>
            <strong>CinePado</strong> è una realtà padovana sostenuta da un vivace gruppo di appasionati di cinema. Questa passione ci spinge ogni anno a creare questo festival, con lo scopo di promuovere la settima arte e avvicinare chi ne è affascinato o semplicemente incuriosito. Ci adoperiamo con due modalità e proposte differenti: le proiezioni ed il concorso <abbr title="CinePado">CP</abbr>Contest.
        </p>
        <p>
            Le <a href="proiezioni.php">proiezioni</a>: Durante tutto l'anno ci informiamo, studiamo e ragioniamo per arrivare ad una programmazzione durante le settimane del festival di film che possano emozionare gli spettatori. Ci impegniamo a portare sui nostri schermi la giusta dose di varietà, spaziando tra grandi classici, capolavori contemporanei, e chicche da scoprire.
        </p>
        <p>
            <a href="contest.php"><abbr title="CinePado">CP</abbr>Contest</a>: un concorso a cui ogni anno partecipano vari registi indipendenti che ancora non hanno avuto la possibilità di essere apprezzati dal grande pubblico. Diamo spazio a queste piccole realtà con la curiosità di scoprire ogni anno nuovi talenti, o nuove pellicole di autori già noti. Se interessati a partecipare, vistare la pagina del regolamento.
        </p>

        <h2>La nostra storia</h2>
        <p>
            Il gruppo che muove le redini del festival si è formato nel gruppo facebook "Motore, spritz, azione!". I giovani appasionati di cinema che lo frequentavano, spesso si ritrovavano per andare al cinema e fare un aperitivo a termine della visione. Durante uno di questi aperitivi è nata l'idea di creare un evento che riportasse all'esperienza collettiva della visione del film, in declino dall'avvento di servizi di streaming e televisori ultra-hd.
        </p>
        <p>
            La prima edizione di CinePado si è svolta nel settembre 2014, con alcune serate di proiezione di film. Fin da subito la proposta è stata ben accolta dalla popolazione padovana ed il gruppo originario si subito arricchito di collaboratori, nuovi amici e simpatizzanti.
            La cresità è sempre stata costante, sia in termini di partecipanti, sia in termini di qualità nelle proiezioni proposte.
        </p>
        <p>
            Dal 2018 si è creato il <abbr title="CinePado">CP</abbr>Contest per far conoscere i registi emergenti della zona e proporre visioni di film sempre più innovativi.
        </p>

        <h2>Accessibilità</h2>
        <p>Non sono previste proiezioni di film con l'audiodescrizione.</p>
        <p>Per le persone non udenti o non pratiche della lingua italiana, tutti i film sono sottotitolati in inglese in <span lang="en">closed caption</span>.</p>
        <p>Garantiamo la possibilità alle persone che si spostano in sedia a rotelle di scegliere il posto che si preferisce. Se possibile, contattateci con qualche ora di anticipo e venite almeno quindici minuti prima l'inizio della proiezione. Al festival si può accedere tranquillamente in sedia a rotelle. Consigliamo comunque di controllare la sezione <a href="comeTrovarci.php">Come Trovarci</a> e nel caso lamentatevi col Comune di Padova.</p>


        <div id="contatti">

            <h2>Contatti</h2>

            <h3>Per info sulle proiezioni:</h3>
            <a href="mailto:info.cinepado@gmail.com">info.cinepado@gmail.com</a>

            <h3>Per info sul concorso:</h3>
            <a href="mailto:contest.cinepado@gmail.com">contest.cinepado@gmail.com</a>

            <h3>Social:</h3>
            <ul>
                <li id="social_ig"><p>Instagram: <a href="404.php">@cinepado</a></p></li>
                <li id="social_fb"><p>Facebook: <a href="404.php">CinePado Festival</a></p></li>
                <li id="social_yt"><p>Youtube: <a href="404.php">CinePado Festival</a></p></li>
            </ul>

            <p id="aiutaci">Vuoi aiutarci nell'organizzazione del festival? Contattaci pure sui social!</p>
        </div>

    </div>

    <div id="tornaSu">
        <a href="#" target="_self"><img src="../images/arrow_upward_white_24dp.svg" alt="Torna a inizio pagina"/></a>
    </div>

    <footer>
        <ifloggedadmin><a id="pannelloadmin" href="admin.php">Pannello admin</a></ifloggedadmin>
        <p id="sponsorLabel">I nostri sponsor:</p> 
        <ul aria-labelledby="sponsorLabel" id="listaSponsor">
            <li>
                <img id="imgSponsor1" src="../images/sponsor/La_dolce_vita.png" alt="La dolce vita"/>
                <p>La Dolve Vita Bar</p>
            </li>
            <li>
                <img id="imgSponsor2" src="../images/sponsor/la_feltrinelli.png" alt="La Feltrinelli"/>
                <p>La Feltrinelli</p>
            </li>
            <li>
                <img id="imgSponsor3" src="../images/sponsor/the_grand_budapest_hotel.png" alt="The Grand Budapest Hotel"/>
                <p>Grand Budapest Hotel</p>
            </li>
        </ul>
        <ul id="studenti" title="Gli Autori">
            <li>Alberto Nicoletti</li>
            <li>Giovanni Moretti</li>
            <li>Luca Annicchiarico</li>
            <li>Tommaso Di Fant</li>
        </ul>
        <p>&copy; Copyright 2021</p>
    </footer>

</body>

</html>
