<!DOCTYPE html>
<!-- 
    meming allowed
    mantenere Cavalli & Segugi pls
-->
<html lang="it">

<head>
	<meta charset="utf-8" />
	
	<title>FestivalDiCinema</title>
	
	<meta name="keywords" content="cinema, festival, padova, indipendente" />
	<meta name="description" content="sito ufficiale del FestivalDiCinema" />
    <meta name="author" content="TW2021" />

    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/small.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="../js/scripts.js"></script>
</head>
    
<body> 
    <header>
        <a class="goToContent" href="#content_admin_home">Vai al contenuto</a>

        <h1>FestivalDiCinema</h1>

        <button title="account" id="accountButton" onclick="toggleAccountDropdown()"><span class="material-icons-outlined">account_circle</span></button>
        <div id="accountDropdown">
            <div id="accountSection" class="slidableOut">
                <ifnotlogged>
                    <button id="loginBtn" onclick="openLogin()">Login</button>
                    <button id="signupBtn" onclick="openSignup()">Registrati</button>
                </ifnotlogged>
                <iflogged>
                    <form id="logout" method="post"></form>
                    <button name="method" value="logout" form="logout">Logout</button>
                    <a href="paginaUtente.php">Il mio Profilo</a>
                </iflogged>
            </div>
    
            <div id="loginSection" class="slidableIn">
                <header>
                    <button class="back" onclick="loginBack()"><span class="material-icons-outlined">arrow_back</span></button>
                </header>
                <ifnotloginsuccess>
                    <form id="login" method="post">
                        <label for="loginEmail">Email</label>
                        <input id="loginEmail" name="email" type="email" autocomplete="username">
                        <label for="loginPassword">Password</label>
                        <input id="loginPassword" name="password" type="password" autocomplete="current-password">
    
                        <button name="method" value="login">accedi</button>
                    </form>
                </ifnotloginsuccess>
                <ifloginsuccess>
                    <p>Loggato con successo!</p>
                </ifloginsuccess>
            </div>
    
            <div id="signupSection" class="slidableIn">
                <header>
                    <button class="back" onclick="signupBack()"><span class="material-icons-outlined">arrow_back</span></button>
                </header>
                <ifnotregistersuccess>
                    <form id="signup" method="post">
                        <label for="signupNome">Nome</label>
                        <input id="signupNome" name="nome" type="text" autocomplete="name">
                        <label for="signupCognome">Cognome</label>
                        <input id="signupCognome" name="cognome" type="text" autocomplete="family-name">
                        <label for="signupDataNascita">Data di nascita</label>
                        <input id="signupDataNascita" name="data_di_nascita" type="date" autocomplete="bday">
                        
                        <label for="signupEmail">Email</label>
                        <input id="signupEmail" name="email" type="email" autocomplete="home email">
                        <label for="signupPassword">Password</label>
                        <input id="signupPassword" name="password" type="password" autocomplete="new-password">
                        <label for="signupPassword2">ridigita la password</label>
                        <input id="signupPassword2" name="" type="password" autocomplete="new-password">
            
                        <button name="method" value="register">registrati</button>
                    </form>
                </ifnotregistersuccess>
                <ifregistersuccess>
                    <p>Registrato con successo! Ora effettua il Login</p>
                </ifregistersuccess>
            </div>
        </div>

        <nav id="menu">
            <ul>
                <li lang="en"><a href="index.php">Home</a></li>
                <li lang="en"><a href="aboutUs.php">About us</a></li>
                <li><a href="listaFilm.php">Film</a></li>
                <li><a href="proiezioni.php">Programma</a></li>
                <li><a href="comeTrovarci.php">Come Trovarci</a></li>
                <li><a href="contest.php">Il Contest</a></li>
            </ul>
        </nav>

        <nav id="breadcrumb">
            <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt; &gt; Admin</p>
        </nav>

    </header>

     
        
    <div id="content_admin_home" class="content_admin">
        <ifloggedadmin>
            <div id="adminDashboard">
                <a href="adminCandidature.php">Candidature</a>
                <a href="adminProiezioni.php">Proiezioni</a>
                <a href="adminListaFilm.php">Lista Film</a>
            </div>
            <dl id="adminInfo">
                <dt>Utenti registrati: </dt>
                <dd>13</dd>
                <dt>Totale biglietti venduti: </dt>
                <dd>126</dd>
                <dt>Media biglietti venduti per proiezione:</dt>
                <dd>7</dd>
                <dt>Totale Like dati ai film: </dt>
                <dd>256</dd>
            </dl>
        </ifloggedadmin>
        <ifnotloggedadmin>
            <p><iflogged>Non sei Admin!</iflogged><ifnotlogged>Non Loggato!</ifnotlogged> Per accedere a questa pagina serve loggarsi con un account admin.</p>
        </ifnotloggedadmin>
    </div>

    <div id="tornaSu">
        <a href="#" target="_self"><img src="../images/arrow_upward_white_24dp.svg" alt="Torna su"/></a>
    </div>

    <footer>
        <p>I nostri sponsor:</p> 
        <ul title="sponsors" id="listaSponsor">
            <li>
                <img id="imgSponsor1" src="../images/sponsor/La_dolce_vita.png" alt="La dolce vita"/>
            </li>
            <li>
                <img id="imgSponsor2" src="../images/sponsor/la_feltrinelli.png" alt="La Feltrinelli"/>
            </li>
            <li>
                <img id="imgSponsor3" src="../images/sponsor/the_grand_budapest_hotel.png" alt="The Grand Budapest Hotel"/>
            </li>
        </ul>
        <ul id="studenti">
            <li>Alberto</li>
            <li>Giovanni</li>
            <li>Luca</li>
            <li>Tommaso</li>
        </ul>
        <p>&copy; Copyright 2021</p>
    </footer>
</body>
</html>