<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Candidature Admin - CinePado</title>

    <meta name="keywords" content="candidature, admin, cinema, festival, padova, indipendente"/>
    <meta name="description" content="Gestione admin delle candidature al contest di CinePado"/>
    <meta name="author" content="L. Annicchiarico T. Di Fant G. Moretti A. Nicoletti"/>
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/small.css" media="screen and (max-width: 600px)">
    <link href="../css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <script src="../js/scripts.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>

<body>
<header>
    <a class="goToContent" href="#content_adminCandidature">Vai al contenuto</a>

    <a href="index.php"><h1>CinePado</h1></a>

    <button <iflogged>title="Vedi il tuo account oppure effettua il logout"</iflogged><ifnotlogged>title="Effettua il login oppure registrati"</ifnotlogged> aria-expanded="false" aria-controls="accountDropdown" id="accountButton" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">account_circle</span><accountname/></button>
    <div id="accountDropdown" role="dialog" aria-label="Account">
        <div id="accountSection" class="slidableOut">
            <div class="loginNavigation">   
                <button class="back" aria-label="Chiudi Dialogo" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">close</span></button>
            </div>
            <div id="accountSectionButtons">
                <ifnotlogged>
                    <logoutfeedback/>
                    <registerfeedbackpositive/>
                    <button id="loginBtn" onclick="openLogin()">Login</button>
                    <button id="signupBtn" onclick="openSignup()">Registrati</button>
                </ifnotlogged>
                <iflogged>
                    <loginfeedback/>
                    <form id="logout" method="post"></form>
                    <a id="linkUtente" href="paginaUtente.php">Il mio Profilo</a>
                    <button id="logoutBtn" name="method" value="logout" form="logout">Logout</button>
                </iflogged>
            </div>
        </div>
        <ifnotlogged>
            <div id="loginSection" class="slidableIn">
                <div class="loginNavigation">
                    <button class="back" aria-label="Torna Indietro" onclick="loginBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                </div>
                <loginfeedback/>
                <form id="login" method="post" onsubmit="return validazioneForm(this);">
                    <label for="loginEmail">Email</label>
                    <span><input id="loginEmail" name="email" type="text" autocomplete="username"></span>
                    <label for="loginPassword">Password</label>
                    <span><input id="loginPassword" name="password" type="password" autocomplete="current-password"></span>

                    <button name="method" value="login">accedi</button>
                </form>
            </div>
    
            <div id="signupSection" class="slidableIn">
                <div class="loginNavigation">
                    <button class="back" aria-label="Torna Indietro" onclick="signupBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                </div>
                <registerfeedbacknegative/>
                <form id="signup" method="post" onsubmit="return validazioneForm(this);">
                    <label for="signupNome">Nome</label>
                    <span><input id="signupNome" name="nome" type="text" autocomplete="name"></span>
                    <label for="signupCognome">Cognome</label>
                    <span><input id="signupCognome" name="cognome" type="text" autocomplete="family-name"></span>
                    <label for="signupDataNascita">Data di nascita</label>
                    <span><input id="signupDataNascita" name="data_di_nascita" type="date" placeholder="yyyy-mm-dd" autocomplete="bday"></span>
                    
                    <label for="signupEmail">Email</label>
                    <span><input id="signupEmail" name="email" type="text" autocomplete="home email"></span>
                    <label for="signupPassword">Password</label>
                    <span><input id="signupPassword" name="password" type="password" autocomplete="new-password"></span>
                    <label for="signupPassword2">ridigita la password</label>
                    <span><input id="signupPassword2" name="password2" type="password" autocomplete="new-password"></span>
        
                    <button name="method" value="register">registrati</button>
                </form>
            </div>
        </ifnotlogged>
    </div>

    <nav id="menu" title="Menù del sito" aria-label="Menù del sito">
        <ul>
            <li lang="en"><a href="index.php">Home</a></li>
            <li lang="en"><a href="aboutUs.php">About us</a></li>
            <li><a href="listaFilm.php">Film</a></li>
            <li><a href="proiezioni.php">Proiezioni</a></li>
            <li><a href="comeTrovarci.php">Come Trovarci</a></li>
            <li><a href="contest.php">Il Contest</a></li>
        </ul>
    </nav>

    <nav id="breadcrumb" title="Percorso di navigazione" aria-label="Percorso di navigazione">
        <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt; &gt; <a href="admin.php">Admin</a> &gt; &gt; Candidature </p>
    </nav>
    <nav id="adminMenu" title="Menù admin" aria-label="Menù admin"><ul>
        <li><a href="admin.php">Home admin</a></li>
        <li class="adminCurrentPage">Candidature</li>
        <li><a href="adminProiezioni.php">Proiezioni</a></li>
        <li><a href="adminListaFilm.php">Lista Film</a></li>
        <li><a href="adminUtenti.php">Utenti</a></li>
    </ul></nav>
</header>


<div id="content_adminCandidature" class="content_admin" role="main">

    <ifloggedadmin>
        <h1>Candidature</h1>
        <form id="filtraCandidature">
            <label for="filterCandidatura">Candidature: </label>
            <select id="filterCandidatura" name="filterCandidatura">
                <option value="Sospesa" sospesaSel>In sospeso</option>
                <option value="Approvata" approvataSel>Approvate</option>
            </select>

            <input class="button" type="submit" form="filtraCandidature" value="Seleziona">
        </form>
        <p class="attenzioneCandidatura" alertRifiuto>Attenzione! Il rifiuto di una candidatura significa la sua eliminazione definitiva.</p>
        <p class="attenzioneCandidatura" alertSospensione>Attenzione! Sospendere una candidatura approvata provoca la cancellazione delle proiezioni del relativo film e dei biglitti relatvi a tali proiezioni.</p>
        <h2>Candidature in sospeso</h2>
        <feedbackCandidature/>
        <listaCandidature/>
    </ifloggedadmin>
    <ifnotloggedadmin>
        <p>
            <iflogged>Non sei Admin!</iflogged>
            <ifnotlogged>Non Loggato!</ifnotlogged>
            Per accedere a questa pagina serve loggarsi con un account admin.
        </p>
    </ifnotloggedadmin>
</div>

<div id="tornaSu">
    <a href="#" target="_self"><img src="../images/arrow_upward_white_24dp.svg" alt="Torna a inizio pagina"/></a>
</div>

<footer>
    <ifloggedadmin><a id="pannelloadmin" href="admin.php">Pannello admin</a></ifloggedadmin>
    <p id="sponsorLabel">I nostri sponsor:</p> 
    <ul aria-labelledby="sponsorLabel" id="listaSponsor">
        <li>
            <img id="imgSponsor1" src="../images/sponsor/La_dolce_vita.png" alt="La dolce vita"/>
            <p>La Dolve Vita Bar</p>
        </li>
        <li>
            <img id="imgSponsor2" src="../images/sponsor/la_feltrinelli.png" alt="La Feltrinelli"/>
            <p>La Feltrinelli</p>
        </li>
        <li>
            <img id="imgSponsor3" src="../images/sponsor/the_grand_budapest_hotel.png" alt="The Grand Budapest Hotel"/>
            <p>Grand Budapest Hotel</p>
        </li>
    </ul>
    <ul id="studenti" title="Gli Autori">
        <li>Alberto Nicoletti</li>
        <li>Giovanni Moretti</li>
        <li>Luca Annicchiarico</li>
        <li>Tommaso Di Fant</li>
    </ul>
    <p>&copy; Copyright 2021</p>
</footer>
</body>
</html>
