<!DOCTYPE html>

<html lang="it">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>Lista film Admin - CinePado</title>
	
	<meta name="keywords" content="cinema, festival, padova, indipendente" />
	<meta name="description" content="Gestione admin dei film di CinePado" />
    <meta name="author" content="L. Annicchiarico T. Di Fant G. Moretti A. Nicoletti" />
    <meta name="robots" content="noindex" />

    <link rel="stylesheet" href="../css/style.css" media="screen" />
    <link rel="stylesheet" href="../css/small.css" media="screen and (max-width: 600px)" />
    <link href="../css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />    <script src="../js/scripts.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>
    
<body onload="initAdminListaFilm()"> 
    <header>
        <a class="goToContent" href="#content_adminListaFilm">Vai al contenuto</a>

        <a href="index.php"><h1>CinePado</h1></a>

        <button <iflogged>title="Vedi il tuo account oppure effettua il logout" aria-label="Vedi il tuo account oppure effettua il logout"</iflogged><ifnotlogged>title="Effettua il login oppure registrati" aria-label="Effettua il login oppure registrati"</ifnotlogged> aria-expanded="false" aria-controls="accountDropdown" aria-haspopup="dialog" id="accountButton" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">account_circle</span><accountname/></button>
        <div id="accountDropdown" role="dialog" aria-label="Account">
            <div id="accountSection" class="slidableOut">
                <div class="loginNavigation">   
                    <button class="back" aria-label="Chiudi Dialogo" onclick="toggleAccountDropdown()"><span aria-hidden="true" class="material-icons-outlined">close</span></button>
                </div>
                <div id="accountSectionButtons">
                    <ifnotlogged>
                        <logoutfeedback/>
                        <registerfeedbackpositive/>
                        <button id="loginBtn" onclick="openLogin()">Login</button>
                        <button id="signupBtn" onclick="openSignup()">Registrati</button>
                    </ifnotlogged>
                    <iflogged>
                        <loginfeedback/>
                        <a id="linkUtente" href="paginaUtente.php">Il mio Profilo</a>
                        <form id="logout" method="post"><button id="logoutBtn" name="method" value="logout">Logout</button></form>
                    </iflogged>
                </div>
            </div>
            <ifnotlogged>
                <div id="loginSection" class="slidableIn">
                    <div class="loginNavigation">
                        <button class="back" aria-label="Torna Indietro" onclick="loginBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                    </div>
                    <loginfeedback/>
                    <form id="login" method="post" onsubmit="return validazioneForm(this);">
                        <label for="loginEmail">Email</label>
                        <span><input id="loginEmail" name="email" type="text" autocomplete="username" /></span>
                        <label for="loginPassword">Password</label>
                        <span><input id="loginPassword" name="password" type="password" autocomplete="current-password" /></span>

                        <button name="method" value="login">accedi</button>
                    </form>
                </div>
        
                <div id="signupSection" class="slidableIn">
                    <div class="loginNavigation">
                        <button class="back" aria-label="Torna Indietro" onclick="signupBack()"><span aria-hidden="true" class="material-icons-outlined">arrow_back</span></button>
                    </div>
                    <registerfeedbacknegative/>
                    <form id="signup" method="post" onsubmit="return validazioneForm(this);">
                        <label for="signupNome">Nome</label>
                        <span><input id="signupNome" name="nome" type="text" autocomplete="name" /></span>
                        <label for="signupCognome">Cognome</label>
                        <span><input id="signupCognome" name="cognome" type="text" autocomplete="family-name" /></span>
                        <label for="signupDataNascita">Data di nascita</label>
                        <span><input id="signupDataNascita" name="data_di_nascita" type="date" autocomplete="bday" /></span>
                        
                        <label for="signupEmail">Email</label>
                        <span><input id="signupEmail" name="email" type="text" autocomplete="home email" /></span>
                        <label for="signupPassword">Password</label>
                        <span><input id="signupPassword" name="password" type="password" autocomplete="new-password" /></span>
                        <label for="signupPassword2">ridigita la password</label>
                        <span><input id="signupPassword2" name="password2" type="password" autocomplete="new-password" /></span>
            
                        <button name="method" value="register">registrati</button>
                    </form>
                </div>
            </ifnotlogged>
        </div>

        <nav id="menu" title="Menù del sito" aria-label="Menù del sito">
            <ul>
                <li lang="en"><a href="index.php">Home</a></li>
                <li lang="en"><a href="aboutUs.php">About us</a></li>
                <li><a href="listaFilm.php">Film</a></li>
                <li><a href="proiezioni.php">Proiezioni</a></li>
                <li><a href="comeTrovarci.php">Come Trovarci</a></li>
                <li><a href="contest.php">Il Contest</a></li>
            </ul>
        </nav>

        <nav id="breadcrumb" title="Percorso di navigazione" aria-label="Percorso di navigazione">
            <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt; &gt; <a href="admin.php" lang="en">Admin</a> &gt; &gt; Lista Film</p>
        </nav>

        <nav id="adminMenu" title="Menù admin" aria-label="Menù admin"><ul>
            <li><a href="admin.php">Home admin</a></li>
            <li><a href="adminCandidature.php">Candidature</a></li>
            <li><a href="adminProiezioni.php">Proiezioni</a></li>
            <li class="adminCurrentPage">Lista Film</li>
            <li><a href="adminUtenti.php">Utenti</a></li>
        </ul></nav>

    </header>

     
        
    <div id="content_adminListaFilm" class="content_admin" role="main">
 
        <h1>Lista Film</h1>

        <ifloggedadmin>
            <feedback/>
            
            <input id="acollapse" class="collapse" type="checkbox" aria-controls="alfAggiungi" aria-expanded="false" onchange="toggleAriaExpanded(this)" aggiungiposted />
            <h2 id="aggLabel"><label for="acollapse">Aggiungi Film</label></h2>

            <form id="alfAggiungi" aria-labelledby="aggLabel" tabindex="-1" method="post" enctype="multipart/form-data" onsubmit="return validazioneForm(this);">
                <label for="alfaTitolo">Titolo:</label>
                <span><input type="text" id="alfaTitolo" name="agg_nomeFilm" value="agg_nomefilm" /></span>
                
                <label for="alfaProduttore">Produttore:</label>
                <span><input type="text" id="alfaProduttore" name="agg_Produttore" value="agg_produttore" /></span>
                
                <label for="alfaRegisti">Regista:</label>
                <span><input type="text" id="alfaRegisti" name="agg_Regista" value="agg_regista" /></span>
                
                <label for="alfaAnno">Anno di Pubblicazione:</label>
                <span><input type="number" id="alfaAnno" name="agg_Anno" value="agg_annofilm" min=1900 max=2022 /></span>
                
                <label for="alfaDurata">Durata(min):</label>
                <span><input type="number" id="alfaDurata" name="agg_Durata" value="agg_duratafilm" min=60 max=180 /></span>

                <label for="alfaImg">Immagine film:</label>
                <span><input type="file" id="alfaImg" name="agg_Img" accept="image/png, image/jpeg" /></span>

                <label for="alfaAlt">Descrizione Alternativa Immagine:</label>
                <span><textarea id="alfaAlt" name="agg_Alt">agg_altfilm</textarea></span>
                
                <label for="alfaDescrizione">Descrizione Film:</label>
                <span><textarea id="alfaDescrizione" cols="26" rows="5" name="agg_descrizioneFilm">agg_descrizionefilm</textarea></span>
                
                <label for="alfaCast">Cast:</label>
                <span><textarea id="alfaCast" cols="26" rows="5" name="agg_Cast">agg_cast</textarea></span>
                
                <input type="checkbox" id="alfaGara" name="agg_inGara" agg_filmingara />
                <label for="alfaGara" class="inline">In Gara</label>
                <input type="checkbox" id="alfaApprovato" name="agg_Approvato" agg_approvato />
                <label for="alfaApprovato" class="inline">Approvato</label>
                <input class="button" type="submit" name="method" value="Aggiungi Film">
                <input class="button" type="submit" name="method" value="Reset" />
            </form>
            
            <input id="mcollapse" class="collapse" type="checkbox" aria-controls="alfModifica" aria-expanded="false" onchange="toggleAriaExpanded(this)" modificaposted />
            <h2 id="modLabel"><label for="mcollapse">Modifica Film</label></h2>

            <form id="alfModifica" aria-labelledby="modLabel" tabindex="-1" method="post" enctype="multipart/form-data" onsubmit="return validazioneForm(this);">
                <label for="alfSelect">Seleziona un film da modificare</label>
                <select id="alfSelect" name="mod_oldNomeFilm" data-selection="mod_nomefilmselezionato" onchange="mod_onFilmChanged()">
                    <nomifilm/>
                </select>
                <label for="alfmTitolo">Titolo:</label>
                <span><input type="text" id="alfmTitolo" name="mod_nomeFilm" value="mod_nomefilm"/></span>
                
                <label for="alfmProduttore">Produttore:</label>
                <span><input type="text" id="alfmProduttore" name="mod_Produttore" value="mod_produttore"/></span>

                <label for="alfmRegisti">Regista:</label>
                <span><input type="text" id="alfmRegisti" name="mod_Registi" value="mod_regista"/></span>
                
                <label for="alfmAnno">Anno di Pubblicazione:</label>
                <span><input type="number" id="alfmAnno" name="mod_Anno" value="mod_annofilm" min=1900 max=2022 /></span>

                <label for="alfmDurata">Durata(min):</label>
                <span><input type="number" id="alfmDurata" name="mod_Durata" value="mod_duratafilm" min=60 max=180 /></span>

                <label for="alfmFilm">Immagine film:</label>
                <span><input type="file" id="alfmFilm" name="mod_Img" accept="image/png, image/jpeg"/></span>

                <label for="alfmAlt">Descrizione Alternativa Immagine:</label>
                <span><textarea id="alfmAlt" name="mod_Alt">mod_altfilm</textarea></span>
                
                <label for="alfmDescrizione">Descrizione Film:</label>
                <span><textarea id="alfmDescrizione" cols="26" rows="5" name="mod_descrizioneFilm">mod_descrizionefilm</textarea></span>
                
                <label for="alfmCast">Cast:</label>
                <span><textarea id="alfmCast" cols="26" rows="5" name="mod_Cast">mod_cast</textarea></span>
                
                <input type="checkbox" id="alfmGara" name="mod_inGara" mod_filmingara />
                <label for="alfmGara" class="inline">In Gara</label>

                <input type="checkbox" id="alfmApprovato" name="mod_Approvato" mod_approvato />
                <label for="alfmApprovato" class="inline">Approvato</label>
                
                <input class="button" type="submit" name="method" value="Modifica Film" />
                <input class="button" type="submit" name="method" value="Elimina Film" />
            </form>
        </ifloggedadmin>
        <ifnotloggedadmin>
            <p><iflogged>Non sei Admin!</iflogged><ifnotlogged>Non Loggato!</ifnotlogged> Per accedere a questa pagina serve loggarsi con un account admin.</p>
        </ifnotloggedadmin>
    </div>

    <div id="tornaSu">
        <a href="#" target="_self"><img src="../images/arrow_upward_white_24dp.svg" alt="Torna a inizio pagina"/></a>
    </div>

    <footer>
        <ifloggedadmin><a id="pannelloadmin" href="admin.php">Pannello admin</a></ifloggedadmin>
        <p id="sponsorLabel">I nostri sponsor:</p> 
        <ul aria-labelledby="sponsorLabel" id="listaSponsor">
            <li>
                <img id="imgSponsor1" src="../images/sponsor/La_dolce_vita.png" alt="La dolce vita"/>
                <p>La Dolve Vita Bar</p>
            </li>
            <li>
                <img id="imgSponsor2" src="../images/sponsor/la_feltrinelli.png" alt="La Feltrinelli"/>
                <p>La Feltrinelli</p>
            </li>
            <li>
                <img id="imgSponsor3" src="../images/sponsor/the_grand_budapest_hotel.png" alt="The Grand Budapest Hotel"/>
                <p>Grand Budapest Hotel</p>
            </li>
        </ul>
        <ul id="studenti" title="Gli Autori">
            <li>Alberto Nicoletti</li>
            <li>Giovanni Moretti</li>
            <li>Luca Annicchiarico</li>
            <li>Tommaso Di Fant</li>
        </ul>
        <p>&copy; Copyright 2021</p>
    </footer>
</body>
</html>
