<!DOCTYPE html>

<html lang="it">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>CinePado</title>
	
	<meta name="keywords" content="cinema, festival, padova, indipendente" />
	<meta name="description" content="sito ufficiale di CinePado" />
    <meta name="author" content="TW2021" />

    <link rel="stylesheet" href="../css/style.css" media="screen">
    <link rel="stylesheet" href="../css/small.css" media="screen and (max-width: 600px)">
    <link href="../css/print.css" rel="stylesheet" type="text/css" media="print"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
   	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="../js/scripts.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico"/>
</head>
    
<body onload="mod_initFilm()"> 
    <header>
        <a class="goToContent" href="#content_adminListaFilm">Vai al contenuto</a>

        <h1>CinePado</h1>

        <button title="account" id="accountButton" onclick="toggleAccountDropdown()"><span class="material-icons-outlined">account_circle</span></button>
        <div id="accountDropdown">
            <div id="accountSection" class="slidableOut">
                <ifnotlogged>
                    <button id="loginBtn" onclick="openLogin()">Login</button>
                    <button id="signupBtn" onclick="openSignup()">Registrati</button>
                </ifnotlogged>
                <iflogged>
                    <form id="logout" method="post"></form>
                    <button name="method" value="logout" form="logout">Logout</button>
                    <a href="paginaUtente.php">Il mio Profilo</a>
                </iflogged>
            </div>
    
            <div id="loginSection" class="slidableIn">
                <header>
                    <button class="back" onclick="loginBack()"><span class="material-icons-outlined">arrow_back</span></button>
                </header>
                <ifnotloginsuccess>
                    <form id="login" method="post">
                        <label for="loginEmail">Email</label>
                        <input id="loginEmail" name="email" type="email" autocomplete="username">
                        <label for="loginPassword">Password</label>
                        <input id="loginPassword" name="password" type="password" autocomplete="current-password">
    
                        <button name="method" value="login">accedi</button>
                    </form>
                </ifnotloginsuccess>
                <ifloginsuccess>
                    <p>Loggato con successo!</p>
                </ifloginsuccess>
            </div>
    
            <div id="signupSection" class="slidableIn">
                <header>
                    <button class="back" onclick="signupBack()"><span class="material-icons-outlined">arrow_back</span></button>
                </header>
                <ifnotregistersuccess>
                    <form id="signup" method="post">
                        <label for="signupNome">Nome</label>
                        <input id="signupNome" name="nome" type="text" autocomplete="name">
                        <label for="signupCognome">Cognome</label>
                        <input id="signupCognome" name="cognome" type="text" autocomplete="family-name">
                        <label for="signupDataNascita">Data di nascita</label>
                        <input id="signupDataNascita" name="data_di_nascita" type="date" autocomplete="bday">
                        
                        <label for="signupEmail">Email</label>
                        <input id="signupEmail" name="email" type="email" autocomplete="home email">
                        <label for="signupPassword">Password</label>
                        <input id="signupPassword" name="password" type="password" autocomplete="new-password">
                        <label for="signupPassword2">ridigita la password</label>
                        <input id="signupPassword2" name="" type="password" autocomplete="new-password">
            
                        <button name="method" value="register">registrati</button>
                    </form>
                </ifnotregistersuccess>
                <ifregistersuccess>
                    <p>Registrato con successo! Ora effettua il Login</p>
                </ifregistersuccess>
            </div>
        </div>
        <nav id="menu">
            <ul>
                <li lang="en"><a href="index.php">Home</a></li>
                <li class="secondaryMenuItem" lang="en"><a href="aboutUs.php">About us</a></li>
                <li class="secondaryMenuItem"><a href="listaFilm.php">Film</a></li>
                <li><a href="proiezioni.php">Programma</a></li>
                <li><a href="comeTrovarci.php">Come Trovarci</a></li>
                <li class="secondaryMenuItem"><a href="contest.php">Il Contest</a></li>
            </ul>
            <button title="menu" id="menuButton" onclick="expandMenu()"><span id="expandMenuArrow" class="material-icons-outlined">expand_more</span></button>
        </nav>

        <nav id="breadcrumb">
            <p>Ti trovi in: <a href="index.php" lang="en">Home</a> &gt; &gt; <a href="admin.php" lang="en">Admin</a> &gt; &gt; Lista Film</p>
        </nav>

        <div id="adminMenu"><ul>
            <li><a href="admin.php">Home admin</a></li>
            <li><a href="adminCandidature.php">Candidature</a></li>
            <li><a href="adminProiezioni.php">Proiezioni</a></li>
            <li class="adminCurrentPage">Lista Film</li>
            <li><a href="adminUtenti.php">Utenti</a></li>
        </ul></div>

    </header>

     
        
    <div id="content_adminListaFilm" class="content_admin">
 
        <h1>Admin Lista Film</h1>

        <ifloggedadmin>
            <input id="acollapse" class="collapse" type="checkbox" aggiungiposted>
            <h2><label for="acollapse">Aggiungi Film</label></h2>

            <form id="alfAggiungi" method="post">
                <label for="alfaTitolo">Titolo:</label>
                <input type="text" id="alfaTitolo" name="agg_nomeFilm" value="agg_nomefilm" required/>
                
                <label for="alfaProduttore">Produttore:</label>
                <input type="text" id="alfaProduttore" name="agg_Produttore" value="agg_produttore" required/>
                
                <label for="alfaRegisti">Registi:</label>
                <input type="text" id="alfaRegisti" name="agg_Regista" value="agg_regista" required/>
                
                <label for="alfaAnno">Anno di Pubblicazione:</label>
                <input type="number" id="alfaAnno" name="agg_Anno" value="agg_annofilm" required>
                
                <label for="alfaDurata">Durata(min):</label>
                <input type="number" id="alfaDurata" name="agg_Durata" value="agg_duratafilm" required>
                
                <label for="alfaDescrizione">Descrizione:</label>
                <textarea id="alfaDescrizione" cols="26" rows="5" name="agg_descrizioneFilm" required>agg_descrizionefilm</textarea>
                
                <label for="alfaCast">Cast:</label>
                <textarea id="alfaCast" cols="26" rows="5" name="agg_Cast" required>agg_cast</textarea>
                
                <input type="checkbox" id="alfaGara" name="agg_inGara" agg_filmingara>
                <label for="alfaGara" class="inline">In Gara</label>

                <input type="checkbox" id="alfaApprovato" name="agg_Approvato" agg_approvato>
                <label for="alfaApprovato" class="inline">Approvato</label>
                <br>
                <input type="submit" name="method" value="Aggiungi Film">
                <input type="submit" name="method" value="Reset">
            </form>
            
            <input id="mcollapse" class="collapse" type="checkbox" modificaposted>
            <h2><label for="mcollapse">Modifica Film</label></h2>

            <form id="alfModifica" method="post">
                <label for="alfSelect">Seleziona un film da modificare</label>
                <select id="alfSelect" name="mod_oldNomeFilm" selection="mod_nomefilmselezionato" onchange="mod_onFilmChanged()">
                    <nomifilm/>
                </select>
                <br>
                <label for="alfmTitolo">Titolo:</label>
                <input type="text" id="alfmTitolo" name="mod_nomeFilm" value="mod_nomefilm"/>
                
                <label for="alfmProduttore">Produttore:</label>
                <input type="text" id="alfmProduttore" name="mod_Produttore" value="mod_produttore"/>

                <label for="alfmRegisti">Registi:</label>
                <input type="text" id="alfmRegisti" name="mod_Registi" value="mod_regista"/>
                
                <label for="alfmAnno">Anno di Pubblicazione:</label>
                <input type="number" id="alfmAnno" name="mod_Anno" value="mod_annofilm" required>

                <label for="alfmDurata">Durata(min):</label>
                <input type="number" id="alfmDurata" name="mod_Durata" value="mod_duratafilm">
                
                <label for="alfmDescrizione">Descrizione:</label>
                <textarea id="alfmDescrizione" cols="26" rows="5" name="mod_descrizioneFilm">mod_descrizionefilm</textarea>
                
                <label for="alfmCast">Cast:</label>
                <textarea id="alfmCast" cols="26" rows="5" name="mod_Cast">mod_cast</textarea>
                
                <input type="checkbox" id="alfmGara" name="mod_inGara" mod_ingara>
                <label for="alfmGara" class="inline">In Gara</label><br>

                <input type="checkbox" id="alfmApprovato" name="mod_Approvato" mod_approvato>
                <label for="alfmApprovato" class="inline">Approvato</label><br>
                
                <input type="submit" name="method" value="Modifica Film">
                <input type="submit" name="method" value="Elimina Film">
            </form>
        </ifloggedadmin>
        <ifnotloggedadmin>
            <p><iflogged>Non sei Admin!</iflogged><ifnotlogged>Non Loggato!</ifnotlogged> Per accedere a questa pagina serve loggarsi con un account admin.</p>
        </ifnotloggedadmin>
    </div>

    <div id="tornaSu">
        <a href="#" target="_self"><img src="../images/arrow_upward_white_24dp.svg" alt="Torna su"/></a>
    </div>

    <footer>
        <p>I nostri sponsor:</p> 
        <ul title="sponsors" id="listaSponsor">
            <li>
                <img id="imgSponsor1" src="../images/sponsor/La_dolce_vita.png" alt="La dolce vita"/>
            </li>
            <li>
                <img id="imgSponsor2" src="../images/sponsor/la_feltrinelli.png" alt="La Feltrinelli"/>
            </li>
            <li>
                <img id="imgSponsor3" src="../images/sponsor/the_grand_budapest_hotel.png" alt="The Grand Budapest Hotel"/>
            </li>
        </ul>
        <ul id="studenti">
            <li>Alberto</li>
            <li>Giovanni</li>
            <li>Luca</li>
            <li>Tommaso</li>
        </ul>
        <p>&copy; Copyright 2021</p>
    </footer>
</body>
</html>
