<form id="infoUtenteForm" method="post" onsubmit="return validazioneForm();">
<fieldset>
    <legend>Informazioni Personali</legend>
    <label for="nome">Nome</label>
    <span><input id="nome" name="nome" type="text" value="pNome" required disabled></span>
    <label for="cognome">Cognome</label>
    <span><input id="cognome" name="cognome" type="text" value="pCognome" required disabled></span>
    <label for="dataNascita">Data di nascita</label>
    <span><input id="dataNascita" name="dataNascita" type="date" value="pDataDiNascita" required disabled></span>
</fieldset>

<fieldset>
    <legend>Informazioni Account</legend>
    <label for="email">Email</label>
    <span><input id="email" name="email" type="email" value="pEmail" required disabled></span>
    <label for="password">Password</label>
    <span><input id="password" name="password" type="password" value="pPassword" required disabled></span>
    <input class="button" id="buttonInvia" type="submit" name="method" value="Invia" style="display: none;">
    <input class="button" id="buttonAnnulla" type="button" onclick="setEditOff()" value="Annulla" style="display: none;">
    <input class="button" id="buttonReset" type="reset" value="Reset" style="display: none;">
    <input class="button" id="buttonModifica" type="button" onclick="setEditOn()" value="Modifica">
</fieldset>
<input class="button" id="buttonDelete" type="submit" name="method" value="Elimina Account">
</form>