<form aria-labelledby="formLabel" id="userInfoForm" method="post" onsubmit="return validazioneForm(this);">
    <fieldset>
        <legend>Informazioni Personali</legend>
        <label for="userInfoNome">Nome</label>
        <span><input id="userInfoNome" name="nome" type="text" value="pNome" disabled></span>
        <label for="userInfoCognome">Cognome</label>
        <span><input id="userInfoCognome" name="cognome" type="text" value="pCognome" disabled></span>
        <label for="userInfoDataNascita">Data di nascita</label>
        <span><input id="userInfoDataNascita" name="dataNascita" type="date" placeholder="yyyy-mm-dd" value="pDataDiNascita"
                     disabled></span>
    </fieldset>

    <fieldset>
        <legend>Informazioni Account</legend>
        <label for="userInfoEmail">Email</label>
        <span><input id="userInfoEmail" name="email" type="text" value="pEmail" disabled></span>
        <label for="userInfoPassword">Password</label>
        <span><input id="userInfoPassword" name="password" type="password" value="pPassword" disabled></span>
        <input class="button" id="buttonInvia" type="submit" name="method" value="Invia" style="display: none;">
        <input class="button" id="buttonAnnulla" type="button" onclick="setEditOff()" value="Annulla"
               style="display: none;">
        <input class="button" id="buttonReset" type="reset" value="Reset" style="display: none;">
        <input class="button" id="buttonModifica" type="button" onclick="setEditOn()" value="Modifica">
        <feedbackInfoUtente/>
    </fieldset>
    <input class="button" id="buttonDelete" type="submit" name="method" value="Elimina Account">
</form>