<li>
    <form method="post">
        <input id="collapse" class="toggle" type="checkbox">
        <label for="collapse" class="text-toggle">pTitolo</label>

        <div class="candidatura">
            <div class="candidatura-inner"> <!-- TODO add image-->
                <p>Durata: pDurata</p>
                <p>Anno: pAnno</p>
                <p>Regista: pRegista</p>
                <p>Produttore: pProduttore</p>
                <p>Cast: pCast</p>
                <p>Contatto: pEmail</p>
                <p class="ancsDescrizione">pDescrizione</p>
            </div>
        </div>

        <input type="hidden" name="titolo" value="pTitolo"> <!-- used for post request -->
        <input class="button" type="submit" name="method" value="Accetta candidatura" accettaCand>
        <input class="button" type="submit" name="method" value="Rifiuta candidatura" rifiutaCand>
        <input class="button" type="submit" name="method" value="Sospendi candidatura" style="display:none;" sospendiCand>
    </form>
</li>