<li id="titolofilm">
    <h2 title="Titolo">titolofilm</h2>
    <em title="Registi">regista</em>

    <ifingara>
        <input type="checkbox" name="like" id="like-titolofilm" onchange="listaFilmLike(this.checked, 'like-titolofilm')"/>
        <label for="like-titolofilm" id="label-like-titolofilm" title="like"><span class="material-icons-outlined md24">favorite_border</span></label>
    </ifingara>
    <br>
    <a title="info" class="info" href="film.php?nomeFilm=titolofilm"><span class="material-icons-outlined md36">info</span></a>
    <a title="biglietti" class="biglietti" href="proiezioni.php?nomeFilm=titolofilm"><span class="material-icons-outlined md36">local_activity</span></a>
</li>