<li id="idfilm" aria-labelledby="titolo_idfilm">
    <a class="linkTitolo" title="Titolo del Film" href="film.php?nomeFilm=titolofilmlink"><h2 id="titolo_idfilm">titolofilm</h2></a>
    <em title="Registi">regista</em>
    <em class="filmNonInGara">film in gara</em>

    <iflogged>
        <ifingara>
            <input type="checkbox" name="like" id="like-idfilm" onchange="listaFilmLike(this.checked, 'idfilm');" liked/>
            <label for="like-idfilm" id="label-like-idfilm" title="Metti valutazione cuore a titolofilm" aria-label="Metti valutazione cuore a titolofilm"><span aria-hidden="true" class="material-icons-outlined md24">likeicon</span></label>
        </ifingara>
    </iflogged>

    <a class="info" title="Info del film titolofilm" aria-label="Info del film titolofilm" href="film.php?nomeFilm=titolofilmlink"><span aria-hidden="true" class="material-icons-outlined md36">info</span></a>
    <a class="biglietti" title="Vedi le proiezioni e acquista biglietti per titolofilm" aria-label="Vedi le proiezioni e acquista biglietti per titolofilm" href="proiezioni.php?nomeFilm=titolofilmlink"><span aria-hidden="true" class="material-icons-outlined md36">local_activity</span></a>
</li>