<li>
    <a class="linkTitolo" title="Titolo del film" href="film.php?nomeFilm=titolofilmlink"><h2>titolofilm</h2></a>
    <em title="Registi">regista</em>
    <em class="filmNonInGara">film in gara</em>
    <p>
        <strong class="Data" title="Data"><time>data</time></strong>
        <strong class="Ora" title="Ora"><time>ora</time></strong>
    </p>
    <a class="acquista" title="Acquista biglietto per la proiezione: titolofilm, il giorno data, ore ora" aria-label="Acquista biglietto per la proiezione: titolofilm, il giorno data, ore ora" href="acquistoBiglietti.php?id=idproiezione">Acquista &gt;</a>
</li>