<li>
    <form method="post" onsubmit="return validazioneForm(this);">
        <input id="collapse" class="toggle" type="checkbox" aria-controls="candidaturaCollapsible_pId" role="checkbox" aria-expanded="false" onchange="toggleAriaExpanded(this, true)"/>
        <label id="titoloLabel_pId" for="collapse" class="text-toggle">pTitolo</label>

        <div class="candidatura">
            <div id="candidaturaCollapsible_pId" aria-labelledby="titoloLabel_pId" tabindex="-1" class="candidatura-inner">
                <img src="percorsoimmagine" alt="descrizioneimmagine" />

                <label for="candidaturaAlt">Descrizione alternativa immagine</label>
                <span><input id="candidaturaAlt" name="alt" type="text" pValue pDisabled /></span>

                <p>Titolo: pTitolo</p>
                <p>Durata: pDurata</p>
                <p>Anno: pAnno</p>
                <p>Regista: pRegista</p>
                <p>Produttore: pProduttore</p>
                <p>Cast: pCast</p>
                <p>Contatto: pEmail</p>
                <p class="ancsDescrizione">pDescrizione</p>
            </div>
        </div>

        <input type="hidden" name="titolo" value="pTitolo" /> <!-- used for post request -->
        <input class="button" type="submit" name="method" value="Accetta candidatura" accettaCand />
        <input class="button" type="submit" name="method" value="Rifiuta candidatura" rifiutaCand />
        <input class="button" type="submit" name="method" value="Sospendi candidatura" sospendiCand />
    </form>
</li>